include ../includes/variables
doctype html
html(lang='es')
    head
        block title
        meta(charset='utf-8')
        block description
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include ../includes/favicon
        //link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)
        link(rel='stylesheet', href='css/main.css', type="text/css")
    body.site--body
        include ../includes/header
        main.site--wrapper.mg--70
            block content
        include ../includes/footer
        //script(src='js/main.js')
        //block other-scripts