.alerta{
    padding: 4px 0 6px;
    background: $brownish-grey;
    &__descripcion{
        font-size: 14px;
        line-height: normal;
        text-align: center;
        color: $white;
        margin: 0;        
    }
    &--info{
        background: $azure-2;
    }
    &--succes{
        background: $kermit-green;
    }
    &--error{
        background: $red-pink;
    }
    &--code {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &--gema {
        position: relative;
        text-align: center;
        margin-bottom: 1rem;
        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            right: 0;
            width: 100%;
            height: 80%;
            background: $azure-4;
            z-index: -1;
        }
        .gema--blue {
            display: inline-block;
            margin-left: -4px;
            margin-right: 4px;
            img {
                width: 23px;
            }
        }
        .gema--txt {
            display: inline-block;
            color: $dark-2;
            font-size: 12px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}