@mixin badge-bg($badge-color, $badge-border, $badge-color-text) {
    background-color: $badge-color;
    border-color: $badge-border;
    color: $badge-color-text;
}
.badge {
    display: inline-block;
    padding: .25em .9em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 20px;
    background-color: $brown-grey;
    color: $white;
    border: 1px solid transparent;
    text-decoration: none;
    &--green {
        @include badge-bg($kermit-green, $kermit-green, $white);
    }
    &--blue {
        @include badge-bg($azure, $azure, $white);
    }
    &--purple {
        @include badge-bg($purple, $purple, $white);
    }
    &--flat {
        &-green {
            @include badge-bg(transparent, $kermit-green, $kermit-green);
        }
        &-blue {
            @include badge-bg(transparent, $azure, $azure);
        }
    }
}