@mixin btn-bg($bg-color, $bg-border, $bg-color-text, $bg-txt-hover) {
    background-color: $bg-color;
    border: 1px solid $bg-border;
    color: $bg-color-text;

    &:hover, &:active {
        color: $bg-txt-hover;
        background: $bg-color;
    } 
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: $dark;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .438rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    &:hover, &:active {
        color: $dark;
        text-decoration: none;
        box-shadow: none;
        /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
                    0 2px 10px 0 rgba(0,0,0,.12);*/
    }
    &.disabled, &:disabled {
        opacity: .65;
        cursor: no-drop; 
    }
    &.btn--uppercase {
        text-transform: uppercase;
    }
    &--default {
        @include btn-bg($kermit-green, $kermit-green, $white, $white);
    }
    &--blue {
        @include btn-bg($azure, $azure, $white, $white);
    }
    &--link {
        @include btn-bg(transparent, transparent, $azure, $azure);
        text-decoration: underline;
    }
    &--flat {
        &-green {
            @include btn-bg(transparent, $kermit-green, $kermit-green, $kermit-green);
        }
        &-blue {
            @include btn-bg(transparent, $azure, $azure, $azure);
        }
        &-apps {
            @include btn-bg(transparent, $white-grey-1, $grey-color-1, $grey-color-1);
        }
    }
    &--link{
        @include btn-bg(transparent, transparent, $azure, $azure);
        text-decoration: underline;
    }
    
    &--float {
        border-top: 1px solid #d8d8d8;
        padding-top: 7px;
        padding-bottom: 7px;
        &.pos--fixed {
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $white;
        }
        &-box {
            position: relative;
            > .btn {
                + .btn{
                    margin-top: 5px;
                }
            }
        }
        &-col {
            position: relative;
            width: 100%;
            min-height: 1px;
            &.col-left{
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 5px;
                padding-left: 15px;
            }
            &.col-right{
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 15px;
                padding-left: 5px;
            }
            .btn {
                font-size: 12px;
                padding: 10px 5px;
                overflow: hidden;
            }
        }
        .btn {
            text-transform: uppercase;
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 1.3;
            &.txt-minus {
                text-transform: capitalize;
            }
        }
        .btn--float-col {
            .btn {
                font-size: 12px;
                padding-top: 11px;
                padding-bottom: 12px;
                &.btn--nopadd {
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
        }
        &__second {
            padding-top: 7px;
            padding-bottom: 7px;
            &.pos--fixed {
                left: 0;
                right: 0;
                bottom: 45px;
                background-color: $white;
            }
        }
    }
    &--link__location{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        color: #999;
        background: $white;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        border: 1px solid #00a9e0;
        border-radius: 100px;
        text-decoration: none;
        height: 26px;
        font-weight: 400;
        .icon{
            width: 14px;
            margin-left: 12px;
        }
    }
}