.card{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    &--content{
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        &__portada{
            position: relative;
            img{
                max-width: 100%;
                width: 100%;
                display: block;
            }
            .tag{
                border-radius: 11px;
                font-size: 9px;
                line-height: normal;
                color: $white;
                position: absolute;
                left: 10px;
                bottom: 32px;
                background: $purple;
                font-family: $font;
                padding: 3px 5px;
                .icon__qr {
                    margin-right: 3px;
                }
                &--prixes-moneda {
                    top: 10px;
                    right: 10px;
                }
            }
        }
        &__body{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 10px;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            position: relative;
            .logo {
                display: block;
                float: left;
                width: 57px;
                height: 57px;
                margin-top: -25px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
                border: 2px solid #fff;
            }
            .titulo{
                font-size: 12px;
                font-weight: 700;
                color: $dark;
                margin-top: 6px;
                margin-bottom: 4px;
                margin-left: 5px;
                line-height: normal;
            }
            .descripcion{
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: left;
                display: block;
                width: 100%;
                color: $dark;
                font-size: 14px;
                font-weight: 300;
                p {
                    margin-bottom: .2rem;
                }
            }
        }
        &__footer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 5px 10px;
            background: $brown-grey_secondary;
            &.bg-azure-2{
                background-color: $ice-blue;
            }
            .descripcion{
                margin: 0;
                color: $dark;
            }
            .descripcion{
                text-align: left;                
                flex-basis: 0;
                flex-grow: 1;
                line-height: normal;
                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    font-size: 12px;
                    line-height: 16px;
                    color: $dark;
                    text-decoration: none;
                }
                .text--small{
                    display: block;
                    font-size: 12px;
                }
            }
            .vigencia{
                text-align: right;
                font-size: 12px;
                color: $dark;
                b {
                    display: block;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
        &__expire {
            background-color: $very-light-pink-2;
            text-align: center;
            color: $white;
            font-size: 12px;
            padding: 4px 10px;
            &.bg-azure-2 {
                background-color: $azure-2;
            }
            p {
                margin: 0;
            }
        }
    }
    .sidebar--flex{
        overflow: hidden;
        position: relative;
        .card--content{
            border: 1px solid $azure-3;
            transition: all 0.5s ease;
            left: 0; 
            &__portada {
                .icon-swipe{
                    position: absolute;
                    top: 10px;
                    left: -22px;
                    padding: 0;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    img{
                        width: auto;
                        height: 34px;
                    }
                }
            }
            &__body{
                border-left: 0;
                border-right: 0;
            }     
        }
        .card--sidebar{
            position: absolute;
            width: 70%;
            height: 100%;
            left: -70%;
            transition: all 0.5s ease;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            .card--content__body{
                padding: 0 18px;
                margin: 0;
                display: block;
                top: 50%;
                transform: translate(0, -50%);          
                .titulo{
                    font-size: 16px;
                    text-align: center;
                    margin: 0 0 10px;
                }
                .descripcion{
                    font-size: 14px;
                    line-height: 1.28;
                    text-align: center;
                    margin: 0 0 10px;
                }
                .icono{
                    display: block;
                    margin: auto;
                }
            }
        }
        &.card--active{
            .card--sidebar{
                left: 0; 
            }
            .card--content{
                left: 70%;
                .icon-swipe img{
                    left: -1px;
                }
            }
            .icon-swipe {
                left: -4px;
            }
        }    
    }
    &--vertical{
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        .card{
            &--content{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border: 1px solid $azure-3;
                &.grey--color {
                    border: 1px solid $very-light-pink-4;
                }
                &__body{
                    position: relative;
                    max-width: 50%;
                    flex-basis: 0;
                    flex-wrap: 1;
                    flex: 0 50%;
                    display: block;
                    border: 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .titulo{
                        margin: 0;
                        font-size: 14px;
                        line-height: 19px;
                        text-align: left;
                        margin-bottom: 6px;
                        color: $dark;
                    }
                    .descripcion{
                        font-size: 14px;
                        line-height: 19px;
                        text-align: left;
                        margin-top: 0;
                        margin-bottom: 8px;
                        padding: 0 1px;
                        color: $grey-color-1;
                    }
                    .btn{
                        &--flat{
                            position: relative;
                            border-radius: 25px;
                            font-size: 12px;
                            padding: 2px 5px;
                            line-height: 1.2;
                            max-width: 105px;
                            &:before{
                                content: '';
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                &__portada{
                    max-width: 50%;
                    flex-basis: 0;
                    flex-wrap: 1;
                    flex: 0 50%;
                    position: initial
                }
            }
        }
        .sidebar--flex{
            overflow: hidden;
            position: relative;
            .card--content{
                transition: all 0.5s ease;
                left: 0;
                .card--content {
                    &__body {
                        margin-top: 42px;
                    }
                    &__portada{
                        .icon-swipe{
                            position: absolute;
                            top: 5px;
                            left: -22px;
                            padding: 0;
                            border: 0;
                            background-color: transparent;
                            cursor: pointer;
                            transition: all 0.5s ease;
                            img{
                                width: auto;
                                height: 34px;
                            }
                        }
                    }
                }  
            }
            .card--sidebar{
                position: absolute;
                width: 70%;
                height: 100%;
                left: -70%;
                transition: all 0.5s ease;
               
                .card--content__body{
                    max-width: 100%;
                    padding: 0 18px;
                    margin: 0;
                    display: block;
                    margin-top: 19px;       
                    .titulo{
                        font-size: 16px;
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    .descripcion{
                        font-size: 14px;
                        line-height: 1.28;
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    .icono{
                        display: block;
                        margin: auto;
                    }
                }
            }
            &.card--active{
                .card--sidebar{
                    left: 0; 
                }
                .card--content{
                    left: 70%;
                    border: 0.5px solid $azure;
                    .card--content__portada {
                        .icon-swipe {
                            left: -4px;
                        }
                    }
                }
            }
        }
    }
}
.scrolling-card {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    .item {
        display: inline-block;
        width: 230px;
        padding: 0;
        margin: 0;
        white-space: normal;
        + .item {
            margin-left: 15px;
        }
    }
}