.collection{
    &--item{
        font-size: 16px;
        line-height: 24px;
        color: $dark-2;
        text-decoration: none;
        font-weight: normal;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding: 18px 0;
        &+ .collection--item{
            border-top: 1px solid $very-light-pink-2;
        }
        .titulo{
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            color: $dark-2;            
        }
        .descripcion{
            font-size: 16px;
            color: $brown-grey;
        }
        .detalle{
            flex-basis: 0;
            flex-grow: 1;
            padding-right: 8px;
        }
        .icon{
            transform: rotate(-90deg);
        }
    }
    &--list {
        position: relative;
        overflow: hidden;
        width: 100%;
        &-item {
            position: relative;
            border-bottom: 1px solid $very-light-pink;
            .item--link {
                text-decoration: none;
                color: $dark-2;
                display: block;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 0;
                padding-right: 0;
                &.link--icon {
                    padding-right: 20px;
                    .icon {
                        position: absolute;
                        top: 20px;
                        right: 0px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}