.collapse {
    position: relative;
    margin-bottom: 1rem;
    &--line {
        &-top {
            border-top: 1px solid $very-light-pink;
        }
    }
    &--list{
        width: 100%;
        max-width: 100%;
        .collapse--item{
            display: block;
            border-top: 1px solid $very-light-pink;
            &.active {
                .collapse--content {
                    display: block;
                }
                .collapse--action {
                    .icon {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(0,-50%) rotate(180deg);
                    }
                }
            }
        }
    }
    &--action{
        display: block;
        padding: 10px 0;
        padding-right: 15px;
        text-decoration: none;
        position: relative;
        .titulo{
            text-align: left;
            text-decoration: none;
            font-size: 16px;
            font-weight: normal;
            line-height: 1;
            color: $dark-2;
            margin-bottom: 5px;
        }
        .descripcion{
            font-size: 12px;
            text-align: left;
            line-height: 1;
            margin: 5px 0 1px;
            color: $brown-grey;
        }
        .icon{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%) rotate(0deg);
            transition: all ease 400ms;
        }
        &.collapse--title {
            padding-top: 20px;
            padding-bottom: 20px;
            .titulo {
                margin-bottom: 0;
                font-weight: 700;
            }
        }
    }
    &--content{
        padding: 10px 0;
        display: none;
    }
}