.header {
    position: relative;
    &__navbar {
        position: relative;
        height: 40px;
        &-title {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            color: $azure;
            font-weight: normal;
            text-decoration: none;
        }
        &-items {
            display: flex;
            float: right;
        }
        &-ubicacion{
            display: flex;
            flex-wrap: wrap;
            font-size: 12px;
            color: $brown-grey;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 8px;
            padding-right: 8px;
            border: 1px solid $azure;
            border-radius: 10px;
            text-decoration: none;
            height: 20px;
            font-weight: 400;
            margin-top: 10px;
            .img__icon {
                &-pin {
                    width: 10px;
                    margin-top: -1px;
                    margin-right: 10px;
                }
                &-droplist{
                    width: 8px;
                    margin-left: 10px;
                }
            }
            .ubicacion__name{
                line-height: 1;
            }
        }
        &-link {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-left: 10px;
            border-radius: .25rem;
            float: right;
            .item {
                &+.item::before {
                    display: inline-block;
                    padding-left: .1rem;
                    padding-right: .1rem;
                    color: #6c757d;
                    content: "|";
                }
            }
            .icon__link {
                display: inline-block;
                width: 36px;
                height: 40px;
                line-height: 36px;
                text-align: center;
                &-perfil {
                    img {
                        width: 15px;
                    }
                }
                &-search {
                    img {
                        width: 13px;
                    }
                }
            }
        }
    }
}