:root{
    /* hexagon */
    --gap: 2vmin;
    --radio: calc(100vmin / 3.6);
    --width: calc(var(--radio) * .866);
    --height: var(--radio);
}
.hexagonal{
    &--grid{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 5px;
            max-width: 100vmin;
            margin-left: auto;
            margin-right: auto;
            &__panal{
                .hexagonal--item{
                /* making the honeycomb */
                    &:nth-of-type(1) {	
                            grid-column: 2 / span 2;
                            grid-row: 1;	
                    }
                    &:nth-of-type(2) {	
                            grid-column: 4 / span 2;
                            grid-row: 1;	
                    }
                    &:nth-of-type(3) {	
                            grid-column: 1 / span 2;
                            grid-row: 2;	
                    }
                    &:nth-of-type(4) {	
                            grid-column: 3 / span 2;
                            grid-row: 2;	
                    }
                    &:nth-of-type(5) {	
                            grid-column: 5 / span 2;
                            grid-row: 2;	
                    }
                    &:nth-of-type(6) {	
                            grid-column: 2 / span 2;
                            grid-row: 3;	
                    }
                    &:nth-of-type(7) {	
                            grid-column: 4 / span 2;
                            grid-row: 3;	
                    }
            /* A small adjustment in the vertical */
                    &:nth-of-type(-n+2) {
                            margin-bottom: calc(var(--height) * -.23);
                    }
                    &:nth-of-type(n+6):nth-of-type(-n+7) {
                            margin-top: calc(var(--height) * -.23);
                    }
                }
            }
            &__default{
                grid-template-columns: repeat(3, 1fr);
                .hexagonal--item__principal{
                    .hexagonal--item__polygon{
                        background: #954b97;
                    }
                }
                .hexagonal--item__principal .hexagonal--item__content .descripcion{
                    color: $white;
                }
            }
    }
    &--item{
        filter: drop-shadow(0 2px 1px rgba(0, 0, 0, .4));
        &__polygon{
            width: var(--width); 
            height: var(--height);
            overflow: hidden;
            background: #e9e9e9;
            clip-path: url(#hexa-v);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);                        
            position: relative;
            text-align: center;
            .hexagonal--item__content{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    .icon{
                            height: 28px;
                    }
                    .descripcion{
                            font-size: 12px;
                            line-height: 12px;
                            color: $dark;
                            margin-top: 3px;
                            margin-bottom: 0;
                    }
            }
        }
        &__principal{
            filter: inherit;
            .hexagonal--item__polygon{
                background: #e99502;
                .titulo{
                        font-size: 12px;
                        line-height: 9px;
                        color: $white;
                        font-weight: bold;
                }
            }
        }
    }
}