.extralight{
    font-weight: 200;
    font-size: 50px;
}
.light{
    font-weight: 300;
    font-size: 50px;
}
.regular{
    font-weight: 400;
    font-size: 50px;
}
.italic{
    font-style: italic;
    font-size: 50px;
}
.bold{
    font-weight: 700;
    font-size: 50px;
}
.hand{
    font-family: $font_secundary;
    font-size: 50px;
}