.movistar-servicio{
    .servicio{
        &--list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0 43px;
            .icon{
                color: $azure;
                opacity: 0.4;    
                font-size: 10px;
                margin: -20px 10px 0;
            }
        }
        &--item{
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
            align-self: flex-end;
            .icono{
                margin-bottom: 6px;
            }
            .descripcion{
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -1px
            }
        }
    }
}
