.lista{
    &--detalle{
        padding: 10px 0;
        &__item{
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid $very-light-pink;
            .icono{
                text-align: center
            }
            .detalle{
                .titulo{
                    font-size: 16px;
                    line-height: normal;
                    margin: 0;
                    color: $dark-2;
                }
                .descripcion{
                    font-size: 16px;
                    line-height: normal;
                    margin: 0;
                    color: $grey-color-1;
                }
            }
        }
    }
}