.media {
    display: flex;
    align-items: flex-start;
    margin-bottom: .5rem;
    &--body {
        flex: 1;
    }
    .media {
        &--self {
            &-start {
                align-self: flex-start;
            }
            &-center {
                align-self: center;
            }
            &-end{
                align-self: flex-end;
            }
        }    
    }    
    &--box{
        &-icons {
            .media--img {
                &-icon {
                    margin-right: .5rem;
                }
            }
            .media--body {
                .titulo {
                    color: $dark;
                    font-weight: 400;
                }
            }
        }
    }
    &.media--card {
        position: relative;
        text-decoration: none;
        color: $dark;
        >.media--icon {
            margin-right: .5rem;
        }
        >.media--body {
            flex: 1 1 auto;
        }
        >.media--symbol {
            flex: 1 1 auto;
        }
    }
}