.navbar {
    position: relative;
    &--welcome {
        position: relative;
        height: 50px;
        background-color: $azure;
        &-return {
            position: relative;
            float: left;
            z-index: 1;
            font-size: 14px;
            color: $white;
            display: block;
            width: 24px;
            height: 50px;
            line-height: 55px;
            text-align: center;
        }
        .title {
            color: $white;
            font-weight: 700;
            padding-top: 15px;
            margin-left: 50px;
            font-size: 18px;
        }
    }
    &--header {
        position: relative;
        height: 40px;
        .title {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            color: $azure;
            font-weight: normal;
            text-decoration: none;
        }
        &-right {
            display: flex;
            float: right;
        }
        .nav--link {
            &-location {
                display: flex;
                flex-wrap: wrap;
                font-size: 12px;
                color: $brown-grey;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 8px;
                padding-right: 8px;
                border: 1px solid $azure;
                border-radius: 10px;
                text-decoration: none;
                height: 20px;
                font-weight: 400;
                margin-top: 10px;
                .icon {
                    &--pin {
                        width: 10px;
                        margin-top: -1px;
                        margin-right: 6px;
                    }
                    &--droplist{
                        width: 8px;
                        margin-left: 10px;
                    }
                }
                .nav--text{
                    line-height: 1;
                }
            }
        }
        &-icons {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-left: 10px;
            border-radius: .25rem;
            float: right;
            .nav--item {
                &+.nav--item::before {
                    display: inline-block;
                    padding-left: .1rem;
                    padding-right: .1rem;
                    color: #6c757d;
                    content: "|";
                }
            }
            .nav--link{
                display: inline-block;
                width: 30px;
                height: 40px;
                line-height: 36px;
                text-align: center;
                .icon {
                    &--perfil {
                        width: 15px;
                    }
                    &--search {
                        width: 13px;
                    }
                }
            }
        }
    }
    &--secondary {
        position: relative;
        height: 38px;
        background-color: $white;
        border-bottom: 1px solid #d8d8d8;
        &-return {    
            position: relative;
            float: left;
            z-index: 1;
            font-size: 12px;
            color: $azure;
            display: block;
            width: 24px;
            height: 38px;
            line-height: 42px;
        }
        .titulo {
            position: absolute;
            display: inline-block;
            padding: 0;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.3px;
            color: $azure;
            text-align: center;
        }
        &-icons {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-left: 10px;
            border-radius: .25rem;
            float: right;
            .nav--item {
                &+.nav--item::before {
                    display: inline-block;
                    padding-left: .1rem;
                    padding-right: .1rem;
                    color: #6c757d;
                    content: "|";
                }
            }
            .nav--link {
                position: relative;
                display: inline-block;
                width: 35px;
                height: 40px;
                line-height: 36px;
                text-align: center;
                text-decoration: none;
                .badge {
                    position: absolute;
                    top: 5px;
                    right: 2px;
                    color: $white;
                    display: block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    font-size: 10px;
                    line-height: 1.4;
                    font-weight: 700;
                    padding: 0;
                }
                .icon {
                    &--perfil {
                        width: 15px;
                    }
                    &--search {
                        width: 13px;
                    }
                }
            }
        }
    }
    &--search {
        position: relative;
        border-bottom: 1px solid $very-light-pink;
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            .col {
                position: relative;
                width: 100%;
                &--left{
                    width: 100%;
                    flex: 0 0 10%;
                    max-width: 10%;
                    .nav--link {
                        &.icon {
                            &--back {
                                position: relative;
                                float: left;
                                z-index: 1;
                                font-size: 12px;
                                color: $brown-grey;
                                display: block;
                                width: 25px;
                                height: 42px;
                                line-height: 45px;
                            }
                        }
                    }
                }
                &--center{
                    width: 100%;
                    flex: 0 0 80%;
                    max-width: 80%;
                    .form {
                        position: relative;
                        margin-top: 6px;
                        .form--control {
                            background-image: url('../images/svg/icon-search.svg');
                            background-size: 14px 12px;
                            background-position: 10px center;
                            background-repeat: no-repeat;
                            height: 30px;
                            font-size: 14px;
                            border-radius: 14px;
                            border: 1px solid $very-light-pink;
                            padding-top: 6px;
                            padding-bottom: 6px;
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                        .icon--cancel {
                            position: absolute;
                            top: 10px;
                            right: 12px;
                            font-size: 11px;
                        }
                    }
                }
                &--right{
                    width: 100%;
                    flex: 0 0 10%;
                    max-width: 10%;
                    .nav--link {
                        &.icon {
                            &--pin-search {
                                position: relative;
                                float: right;
                                z-index: 1;
                                font-size: 16px;
                                color: $brownish-grey;
                                display: block;
                                width: 25px;
                                height: 42px;
                                text-align: center;
                                line-height: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
    &--quick {
        position: relative;
        height: 45px;
        background-color: $white;
        border-top: 1px solid #d8d8d8;
        &.navbar--fixed {
            bottom: 0;
        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .col--links{
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                flex: 0 0 25%;
                max-width: 25%;
                &-box {
                    text-align: center;
                    .nav--link {
                        display: block;
                        color: $brown-grey;
                        text-decoration: none;
                        font-size: 12px;
                        &.active {
                            color: $azure;
                            .icon {
                                &--grey {
                                    visibility: hidden;
                                    &-gema {
                                        visibility: hidden;
                                    }
                                }
                                &--blue {
                                    visibility: visible;
                                    top: 0;
                                    &-gema {
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        &.nav--link-icons{
                            padding-top: 7px;
                            padding-bottom: 7px;
                            .icons--change{
                                position: relative;
                                overflow: hidden;
                                display: block;
                            }
                        }
                        &-gema{
                            display: block;
                            margin-top: 6px;
                            margin-left: auto;
                            margin-right: auto;
                            border: 1px solid $brown-grey;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            line-height: 28px;
                            overflow: hidden;
                        }
                        .texto {
                            display: block;
                            margin-top: 2px;
                        }
                        .icon {
                            &--inicio-color, &--inicio-color-active {
                                display: block;
                                width: 18px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            &--blue{
                                visibility: hidden;
                                position: absolute;
                                top: -25px;
                                left: 0;
                                right: 0;
                                display: block;
                                margin: auto;
                                transition: all ease 200ms;
                                &-gema{
                                    position: absolute;
                                    visibility: hidden;
                                    top: 12px;
                                    left: 0;
                                    right: 0;
                                    display: block;
                                    margin: auto;
                                }
                            }
                            &--mis-vales {
                                display: block;
                                width: 22px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            &--ayuda {
                                display: block;
                                width: 16px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            &--gema {
                                width: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    &--fixed {
        width: 100%;
        position: fixed;
        z-index: 5;
    }
}