.notificacion {
    &--card {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $white-1;
        &-box {
            background-color: $white;
            border: 1px solid $very-light-pink-3;
            border-radius: 5px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 10px;
            padding-right: 10px;
            .media {
                margin-bottom: 0;
                &.media--card {
                    > .media--icon {
                        width: 30px;
                    }
                }
                .media--body {
                    .descripcion {
                        font-size: 14px;
                        p {
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
                .media--symbol {
                    color: $azure;
                    font-size: 14px;
                    text-align: right;
                }
            }
        }
    }
    &--codigo {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        background-color: $white;
        z-index: 3;
        color: $dark-2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 290px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        &.copy--blue {
            span.icon {
                color: $azure-2;
                margin-right: .2rem;
                font-size: 16px;
            }
            .notificacion-text {
                font-weight: 300;
                line-height: 1;
                font-size: 16px;
            }
        }
    }
    &--grey {
        position: relative;
        border-radius: 4px;
        background-color: $white-1;
        padding-top: .3rem;
        padding-bottom: .3rem;
        padding-left: .4rem;
        padding-right: .4rem;
        font-size: 14px;
        text-align: center;
        margin-bottom: 1rem;
        color: $dark-2;
    }
    &--prixes {
        position: absolute;
        &__box {
            position: relative;
            display: inline-block;
            background-color: $white;
            color: $dark-2;
            font-size: 12px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 6px;
            padding-right: 25px;
            border-radius: 20px;
            line-height: 1.2;
            > b {
                color: $orange-1;
            }
            .prixes__icon-moneda {
                position: absolute;
                width: 20px;
                top: -1px;
                right: 0;;
            }
        }
    }
}