.overlay {
    &--active {
        overflow: hidden;
    }
    &--full {
        position: fixed;
        width: 100%;
        height: 100%;
        //display: none;
        z-index: 20;
        top: 0;
        left: 0;
        background-color: $white;
        &-content {
            position: relative;
            padding-top: 3rem;
            overflow: auto;
            height: 100%;
            .overlay {
                &--close {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    .btn {
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
                &--body {
                    position: relative;
                    .change--city {
                        &-box {
                            .titulo {
                                text-align: center;
                                font-weight: 400;
                                font-size: 16px;
                                color: $dark-2;
                                margin-bottom: 2rem;
                            }
                            .city{
                                &--item{
                                    text-align: center;
                                    margin-bottom: 33px;
                                    a{
                                        color: #5e5e5e;
                                        text-decoration: none;
                                    }
                                    .icon{
                                        margin-bottom: 10px;
                                    }
                                    .descripcion{
                                        margin-bottom: 0;
                                        text-align: center;
                                        line-height: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}