.portada{
    height: 156px;
    width: 100%;
    position: relative;
    &--background{
        height: 100%;
        img{
            display: block;
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }                
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }
    &--content{
        position: absolute;
        width: 100%;
        bottom: 20px;
        z-index: 1;
        &__head{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 21px;
            .logo{
                width: 49px;
                height: 49px;
                margin-right: 10px;
            }
            .titulo{
                font-size: 24px;
                font-weight: 300;
                color: $white;
                margin-bottom: 0;
            }
        }
        &__footer{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .descripcion{
                font-size: 14px;                
                color: $white;
                margin: 0;
                flex-basis: 0;
                flex: 1;
                b{
                    font-weight: bold;
                }
            }
        }
    }
    background-color: $grey-color-2;
    .portada--image {
        position: relative;
        height: 100%;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            z-index: 1;
        }
        img {
            display: block;
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    }
    .portada--box{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .box {
            &--head {
                margin-top: 45px;
                display: flex;
                align-items: center;
                width: 100%;
            
                .logo {
                    width: 49px;
                    height: 49px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .titulo {
                    font-size: 24px;
                    font-weight: 300;
                    color: $white;
                    margin-bottom: 0;
                }
            }
            &--body {
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                bottom: 15px;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                .descripcion {
                    display: block;
                    color: $white;
                    font-size: 14px;
                }
            }
        }
        .btn--heart {
            position: absolute;
            right: 15px;
            bottom: 12px;
            display: inline-block;
            text-decoration: none;
            font-size: 18px;
            color: $white;
            width: 25px;
            height: 25px;
            padding: 0;
            border-radius: 50%;
            line-height: 14px;
            img {
                width: 19px;
            }
            .img-heart {
                display: inline-block;
            }
            .img-like {
                display: none;
            }
            &.favorite {
                .img-heart {
                    display: none;
                }
                .img-like {
                    display: inline-block;
                }
            }
        }
    }
}