.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    td, th {
        font-size: 14px;
        padding: .55rem .35rem;
        vertical-align: top;
        border-top: 1px solid $very-light-pink;
    }
    thead th {
        color: $dark-2;
        vertical-align: bottom;
        border-bottom: 2px solid $very-light-pink;
    }
    &--bordered {
        border: 1px solid $very-light-pink;
        td, th {
            border: 1px solid $very-light-pink;
        }
    }
    &--borde {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid $very-light-pink;
        .table {
            margin-bottom: 0;
        }
    }
    .thead {
        &--azure {
            th {
                color: $dark-2;
                background-color: $azure-5;
                border-color: $azure-5;
            }
        }
    }
    &--responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}