.tab{
    &--nav{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__item{
            width: 100%;
            flex-basis: 0;
            flex-grow: 1
        }
        &.tab--nav__more {
            .tab--nav__item {
                .tab--item__link {
                    font-size: 14px;
                }
            }
        }
    }
    &--item{
        &__link{
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            line-height: 1.45;
            font-family: $font;
            color: $grey-color-1;
            padding: 10px 0;
            box-shadow: inset 0 -2px 0 0 #eeeeee;
            &.active{
                color: $azure;
                box-shadow: inset 0 -3px 0 0 $azure;
            }
        }
    }
    &--content{
        .tab--pane {
            padding: 15px;
            &.pane--no-padding {
                padding: 0;
            }
        }
    }
}