@mixin text-web($text-size, $text-weight, $text-line,) {
    font-size: $text-size;
    font-weight: $text-weight;
    line-height: $text-line;
}

.titulo {
    @include text-web(18px, bold, 1.22);
    margin-bottom: .5rem;
}
.subtitulo {
    @include text-web(16px, bold, 1.22);
    margin-bottom: .5rem;
}
.descripcion {
    @include text-web(16px, normal, 1.3);
    ul {
        margin-bottom: 1rem;
        padding-left: 20px;
        list-style-type: disc;
        li {
            margin-bottom: .5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.txt--center{
    text-align: center;
}
.txt--left{
    text-align: left;
}
.txt--right{
    text-align: right;
}