.tooltip {
    position: absolute;
    bottom: 150%;
    left: 0;
    margin-bottom: 5px;
    padding: 12px 14px;
    width: 100%;
    border-radius: 2px;
    background-color: $white;
    color: $dark;
    font-size: 12px;
    z-index: 2;
    box-shadow: 0 2px 3px 0px rgba(153, 153, 153, 0.6);
    &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: calc(10% - 5px);
        width: 0;
        height: 0;
        border-left: 5px solid $white-grey-1;
        border-right: 5px solid transparent;
        border-top: 5px solid $white-grey-1;
        border-bottom: 5px solid transparent;
    }
}