.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo ¿Tienes algún problema?
section.ayuda--form
    .container
        .ayuda--form__collapse
            .collapse
                .collapse--list
                    .collapse--item.active
                        a.collapse--action(href="#!")
                            .titulo Niveles                       
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content
                            form.form(action="")
                                .form--group
                                    .form--box
                                        select.form--control#gender(name="gender")
                                            option(value="", selected, disabled) ¿Qué problema presentas?
                                            option(value="1") Tengo problemas con mi clave
                                            option(value="2") Tengo problemas con mi cuenta
                                            option(value="3") No puedo iniciar sesión
                                            option(value="4") No llega la clave a mi correo
                                        label.control--label(for="gender") Especifica tu problema
                                        span.bar
                                .form--group
                                    .form--box
                                        input.form--control#email(type="email", name="email", value="gloria@email.com" required="")
                                        label.control--label(for="email") Ingresa tu correo
                                        span.bar
                                .form--group
                                    .form--box
                                        textarea.form--control(name="comment", rows="1", required="") Brindar beneficios diarios.
                                        label.control--label(for="comment") Coméntanos más
                                        span.bar
                                button.btn.btn--default.btn--uppercase Enviar

                    .collapse--item
                        a.collapse--action(href="#!")
                            .titulo Locales                       
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content

                    .collapse--item
                        a.collapse--action(href="#!")
                            .titulo Promociones                        
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content

                    .collapse--item
                        a.collapse--action(href="#!")
                            .titulo Mi cuenta                      
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content


.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")