.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Sugerencias
section.ayuda--form
    .container
        h2.titulo ¿Sobre qué quieres comentar?
        p.descripcion Queremos saber qué es lo que te gusta y en qué podríamos mejorar.
        form.form(action="")            
            .form--group
                .form--box
                    input.form--control#email(type="email", name="email", value="gloria@email.com" required="")
                    label.control--label(for="email") Ingresa tu correo
                    span.bar
            .form--group
                .form--box
                    textarea.form--control(name="comment", rows="1", required="") Brindar beneficios diarios.
                    label.control--label(for="comment") Coméntanos más
                    span.bar
            .btn--float__second.pos--fixed
                .container
                    .btn--float-box
                        button.btn.btn--default.btn--uppercase(type="submit", disabled) Enviar
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")