.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Ayuda
        ul.navbar--secondary-icons
            li.nav--item
                a.nav--link(href="#")
                    img.icon--perfil(src="images/svg/icon-message-open.svg", alt="")
                    span.badge.badge--purple 8
            li.nav--item
                a.nav--link(href="#")
                    img.icon--search(src="images/svg/icon-search.svg", alt="")
section.ayuda
    .container
        .collection
            .collection--list        
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Qué es Movistar Prix?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Qué son las Zonas?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿En qué Zona estoy?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Cómo subir a Zona Movistar Total?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Más preguntas frecuentes
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
    .ayuda--box__collection
        .collection
            .container
                .collection--list        
                    a.collection--item(href="#!")
                        .detalle
                            p.titulo ¿Tienes algún problema?
                            span.descripcion Envíanos un mensaje
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        .collection
            .container
                .collection--list        
                    a.collection--item(href="#!")
                        .detalle
                            p.titulo Sugerencias
                            span.descripcion Danos tu opinión
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")