.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Preguntas Frecuentes
section.ayuda
    .container
        .collection
            .collection--list        
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Puedo encontrar los beneficios en algún otro lugar?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Vi un beneficio que me interesa en la AFP, ¿qué debo hacer para acceder a él?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Cree un vale de beneficio pero ya quiero usarlo, ¿qué debo hacer?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Tengo que ser el titular de la línea móvil para poder acceder a beneficios Prix?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Cómo me identifico como titular de un servicio Movistar Hogar?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿A qué nivel accedo si otro es el titular de mi línea móvil?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")