.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo Starbucks
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Este vale expira en: 01:59:45
    .servicio--detalle__content
        .container
            .servicio--panel-codigo
                .descripcion
                    p Utiliza este código #[br] al momento de la compra
                    .box--codigo 480424733
                    p: a(href="#") ¿Tienes algún problema?
                    p: a(href="#") Términos y condiciones
    .btn--float.pos--fixed
        .container
            .btn--float-box.row
                .btn--float-col.col-left
                    a.btn.btn--flat-green(href="#") Cancelar Viaje
                .btn--float-col.col-right
                    a.btn.btn--default(href="#") Regala

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+"regalo.svg", alt="")
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-xs
                        h2.titulo ¡Recuerda!
                        .descripcion
                            p Una vez que regales este cupón no podrás  usarlo nuevamente. (Dependerá de la cantidad de promociones pro vale)
                            p Sólo podrás regalar a un usuario que sea Movistar Prix para que pueda
                            p Una vez que regales este cupón no podrás  usarlo nuevamente. (Dependerá de la cantidad de promociones pro vale)
                            p Sólo podrás regalar a un usuario que sea Movistar Prix para que pueda
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Entendido
                    a.btn.btn--link(href="#") Cancela
.backdrop