.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo McDonald's
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Este vale expira en: 01:59:45
    .servicio--detalle__content
        .container
            .servicio--panel-qr
                .message--media
                    .message--media-col
                        p.message--txt Utiliza este código al momento de la compra
                    .message--media-col
                        a.badge.badge--green(href="#") Califica beneficio
                .descripcion
                    .box--qr
                        img.qr--image(src="images/fotografia/bitmap.png", alt="") 
                        span.qr--txt 480424733
                    p: a(href="#") ¿Tienes algún problema?
                    p: a(href="#") Términos y condiciones
    .btn--float.pos--fixed
        .container
            .btn--float-box.row
                .btn--float-col.col-left
                    a.btn.btn--flat-green(href="#") Cancelar Viaje
                .btn--float-col.col-right
                    a.btn.btn--default(href="#") Regala
