.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Transporte y viajes
.servicio--mejorar
    .container
        .servicio--mejorar-form
            form.form(action="")
                h2.titulo ¿Cómo estuvo este beneficio?
                .form--rating
                    .rating-box
                        input.rating--input#star5(type="radio", value="2", name="rating")
                        label.rating--stars(for="star5")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star4(type="radio", value="2", name="rating")
                        label.rating--stars(for="star4")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star3(type="radio", value="2", name="rating")
                        label.rating--stars(for="star3")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star2(type="radio", value="2", name="rating")
                        label.rating--stars(for="star2")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star1(type="radio", value="1", checked="checked",name="rating")
                        label.rating--stars(for="star1")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                .mejorar--link-promo
                    a(href="#") Aún no he utilizado la promoción
                .mejorar--form-list
                    h2.titulo ¿Qué podemos mejorar?
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Servicio
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox", checked)
                                span.checkbox--checked
                                | Atención
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Rápidez
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Trato
                .form--group
                    textarea.form--control(name="comment", rows="2", required="")
                    label.control--label(for="comment") Déjanos tu comentario
                    span.bar
                .btn--float.pos--fixed
                    .container
                        .btn--float-box
                            button.btn.btn--default(type="submit") Finalizar

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+"beneficio.svg", alt="")
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                h2.titulo ¡Gracias! Tu opinión es #[br] valiosa
                .descripcion
                    p Tomaremos en cuenta tu calificación y comentarios para mejorar la APP.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Continuar
.backdrop