nav.navbar--welcome
    .container
        a.navbar--welcome-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back-web')
        h2.title Movistar Prix
section.welcome
    .container
        .icon: img(src="images/svg/icon-welcome.svg", alt="")
        h2.titulo ¡Ahora desde Mi Movistar puedes acceder a Movistar Prix!
        .descripcion
            p Recuerda que puedes descargar el app para vivir la experiencia completa.
        button.btn.btn--default CONTINUAR
    