.navbar--search
    .container
        .navbar--search-wrapper
            .col--left
                a.nav--link.icon--back(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'back')
            .col--center
                form.form(action="")
                    input.form--control(type="text", value="frapuccino", placeholder="¿Qué estas buscando?")
                    span.icon--cancel.icon: svg: use(xlink:href=iconPath+'add-detail')
            .col--right
                a.nav--link.icon--pin-search(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'pin-buscador')

.buscador--tabs
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Comida y Bebida
            li.tab--nav__item
                a.tab--item__link(href="!#") Marca
        .tab--content
            .tab--pane.show
                .buscador--cards
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/portada-starbucks.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/starbucks.jpg", alt="")
                                    p.titulo Starbucks
                                    .descripcion
                                        p Moka Capuccino para que te delites en cualquier momento del día
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Solo en moca capuccino
                                    small.vigencia Vigencia
                                        b 3 días
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/portada-default.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/starbucks.jpg", alt="")
                                    p.titulo Starbucks
                                    .descripcion
                                        p Moka Capuccino para que te delites en cualquier momento del día
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Solo en moca capuccino
                                    small.vigencia Vigencia
                                        b 3 días
            .tab--pane.hide