.navbar--search
    .container
        .navbar--search-wrapper
            .col--left
                a.nav--link.icon--back(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'back')
            .col--center
                form.form(action="")
                    input.form--control(type="text", placeholder="¿Qué estas buscando?")
                    span.icon--cancel.icon: svg: use(xlink:href=iconPath+'add-detail')
            .col--right
                a.nav--link.icon--pin-search(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'pin-buscador')
.buscador--wrapper
    .container
        .row
            .col-12
                h2.titulo Búsquedas recientes
                .buscador--list
                    .buscador--list-item
                        .item-box
                            p Bembos
                            span.icon: svg: use(xlink:href=iconPath+'left-browser')
                    .buscador--list-item
                        .item-box
                            p Tours
                            span.icon: svg: use(xlink:href=iconPath+'left-browser')
.buscador--view.pos--fixed
    .container
        a.buscador--view-all(href="#") Ver todo
            span.icon: svg: use(xlink:href=iconPath+'back')     