.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.codigos--felicidades
    .codigos--wrapper
        .container
            .codigos--card
                .card
                    .card--content
                        .card--content__portada
                            img(src="images/fotografia/portada-starbucks.jpg", alt="")
                        .card--content__body
                            .logo
                                img(src="images/marcas/starbucks.jpg", alt="")
                            p.titulo Starbucks
                            .descripcion
                                p Moka Capuccino para que te delites en cualquier momento del día 
                        .card--content__footer
                            .descripcion
                                p 2 x 1
                                    span.text--small Solo en Moka Capuccino
                            small.vigencia Vigencia
                                b 3 días
                .codigos--card-box
                    h2.titulo ¡Felicidades!
                    .descripcion
                        p Has ganado un beneficio de 2 x 1 en Starbucks.
                            br
                            | Ya puedes empezar a disfrutarlo.
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Usar este beneficio
            a.btn.btn--link.txt-minus(href="#") Hazlo en otra ocasión