.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.codigos--form
    .container
        .codigos--form-content
            p.titulo ¡Introduce tu código y descubre que tenemos preparado para ti!
            .descripcion
                p ¡Puedes ganar beneficios, prixes y otros premios sorpresa!
            form.form(action="")
                .form--group
                    select.form--control#ciudad(name="ciudad")
                        option(value="Lima") Lima
                    label.control--label(for="ciudad") Ciudad
                    span.bar
                .form--group
                    input.form--control#codigo(type="text", name="codigo", required="")
                    label.control--label(for="codigo") Ingresar código
                    span.bar
                .btn--float.pos--fixed
                    .container
                        .btn--float-box
                            button.btn.btn--default(type="submit", disabled) Recibe Premio