nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src=iconSVG+'tickets-round.svg', alt="")
                h2.titulo Introduce tus #[br] códigos
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__comida(src=iconSVG+'beneficio.svg', alt="")
                    .media--body
                        p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
        .container
            .descripcion
                p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
            .collapse--list
                .collapse--item
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Ver términos y condiciones
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Participar