nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Ancash
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
section.descentralizado
    .descentralizado__content
        .container
            h2.titulo ¡Lo sentimos!
            .descripcion
                p Esta ciudad no cuenta con beneficios de comida y bebida. Pero estamos trabajando para poder ofrecerte estas categorías muy pronto. ¿Quieres un beneficio de una marca en particular? Déjanos tu sugerencia y te ayudaremos a conseguirlo.
            a.btn.btn--default.btn--uppercase(href="#") Dejar sugerencias
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")