nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Ancash
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
section.descentralizado
    .descentralizado__content
        .container
            h2.titulo ¡Lo sentimos!
            .descripcion
                p Esta ciudad no cuenta con beneficios de comida y bebida. Pero estamos trabajando para poder ofrecerte estas categorías muy pronto. ¿Quieres un beneficio de una marca en particular? Déjanos tu sugerencia y te ayudaremos a conseguirlo.
            a.btn.btn--default.btn--uppercase(href="#") Dejar sugerencias
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

.overlay--full
    .overlay--full-content.container
        .overlay--close
            button.btn
                span.icon: svg: use(xlink:href=iconPath+'cross')
        .overlay--body
            .change--city-box
                h2.titulo Cambiar ciudad
                .container
                    ul.city--list.row
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'lima.svg', alt="")
                                p.descripcion Lima
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'callao.svg', alt="")
                                p.descripcion Callao
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ancash.svg', alt="")
                                p.descripcion Ancash
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'amazonas.svg', alt="")
                                p.descripcion Amazonas
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'apurimac.svg', alt="")
                                p.descripcion Apurimac
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'arequipa.svg', alt="")
                                p.descripcion Arequipa
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ayacucho.svg', alt="")
                                p.descripcion Ayacucho
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'cajamarca.svg', alt="")
                                p.descripcion Cajamarca
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'cuzco.svg', alt="")
                                p.descripcion Cuzco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'huancavelica.svg', alt="")
                                p.descripcion Huancavelica
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'huanuco.svg', alt="")
                                p.descripcion Huánuco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ica.svg', alt="")
                                p.descripcion Ica
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'junin.svg', alt="")
                                p.descripcion Junín
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'libertad.svg', alt="")
                                p.descripcion La Libertad
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'lambayeque.svg', alt="")
                                p.descripcion Lambayeque
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'loreto.svg', alt="")
                                p.descripcion Loreto 
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'madre-de-dios.svg', alt="")
                                p.descripcion Madre de Dios
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'moquegua.svg', alt="")
                                p.descripcion Moquegua
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'pazco.svg', alt="")
                                p.descripcion Pazco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'piura.svg', alt="")
                                p.descripcion Piura
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'puno.svg', alt="")
                                p.descripcion Puno
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'san-martin.svg', alt="")
                                p.descripcion San Martín
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'tacna.svg', alt="")
                                p.descripcion Tacna
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'tumbes.svg', alt="")
                                p.descripcion Tumbes 
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ucayali.svg', alt="")
                                p.descripcion Ucayali