.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.codigos--detalle.mg-70
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo Avant Premiere de #[br] Aquaman
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: 
                br
                b 14d 13h 30m
    .codigos--detalle__content
        .container
            .media.media--box-icons
                .media--img-icon.media--self-top
                    img(src=iconSVG+'tickets-1.svg', alt="")
                .media--body
                    p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
            .descripcion
                p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Lorem ipsum dolor sit amet, consectetur ask me.
            .collapse.collapse--line-top
                .collapse--list
                    .collapse--item.active
                        a.collapse--action(href="#!")
                            p.titulo Ver términos y condiciones
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quo, soluta aliquam iure facilis modi quidem consectetur repellendus itaque, nam at sit ut molestias quia illum eligendi aut. Omnis, placeat!
            .ubicacion
                p: b Ubicación
                p Distribuciones Gerónimo: Jr. El Greco 211B
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Participar
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+'tickets-1.svg', alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                h2.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
                .descripcion
                    p Estarás participando en la experiencia, recuerda que el premio se sorteará el 26 de diciembre del 2018.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Entendido
                    a.btn.btn--link Probar en otra ocasión
.backdrop