nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message__video-nocodigo
                p.titulo.txt--center ¿Aún no tienes un código? #[br] Aquí te decimos cómo:
                .nocodigo-box_video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)
                .descripcion
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.
                p.titulo.txt--center ¿Todo listo?
                .message__video--nocodigo_form
                    form.form(action="")
                        .form--group
                            .form--box
                                input.form--control#name(type="text", name="name", required="")
                                label.control--label(for="name") Ingresar código de participación
                                span.bar
                        .btn--float.pos--fixed
                            .container
                                .btn--float-box
                                    button.btn.btn--default(type="submit") Terminé

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src="images/fotografia/premios.png", alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                h2.titulo ¡Felicidades!
                .descripcion
                    p Tienes 1200 posibilidades para participar y ganar uno de estos sorprendentes premios:
                    p.txt--center #[b Códigos validados ingresados:]
                    .txt--center ASD123QWE456T - ASD123QWE556T #[br] ASD123QWE416T - ASD123QWE453T
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Continuar
.backdrop