nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡No te pierdas el #[br] sorteo!
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .tab
        ul.tab--nav.tab--nav__more
            li.tab--nav__item
                a.tab--item__link(href="!#") Concurso
            li.tab--nav__item
                a.tab--item__link(href="!#") Premios
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Códigos
        .tab--content
            .tab--pane.pane--no-padding.show
                .servicio--detalle__content
                    .container
                        .servicio__message-nocodigo
                            .nocodigo-img__tickets
                                img(src="images/fotografia/ticket-1.png", alt="")
                            p.titulo ¡Aún no has introducido códigos!
                            p ¿No sabes cómo? Has click en el botón “Ingresar códigos” para explicarte como.
                        
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar códigos