nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡No te pierdas el #[br] sorteo!
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .tab
        ul.tab--nav.tab--nav__more
            li.tab--nav__item
                a.tab--item__link(href="!#") Concurso
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Premios
            li.tab--nav__item
                a.tab--item__link(href="!#") Códigos
        .tab--content
            .tab--pane.pane--no-padding.show
                .servicio--detalle__content
                    .container
                        .notificacion--grey Has acumulado: #[b 15 000 intentos para ganar]
                        .servicio--media-box
                            .media.media--box-icons
                                .media--img-icon.media--self-start
                                    img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                                .media--body
                                    p.titulo ¡Participa para ganar uno de estos sorprendentes premios!
                        .servicio--premios-media
                            p.titulo Lista de premios mensuales
                            .media
                                .media--body
                                    .media--premios__descripcion
                                        p 1 Chevrolet Tracker 0km.
                                        a.link(href="#") Ver detalles
                                .media--self-top.media--premios__img
                                    img(src='images/fotografia/auto-small.png', alt="")
                            .media
                                .media--body
                                    .media--premios__descripcion
                                        p 3 Samsung 4K 55’’
                                        a.link(href="#") Ver detalles
                                .media--self-top.media--premios__img
                                    img(src='images/fotografia/tv-small.png', alt="")
                        .servicio--premios-media
                            p.titulo Lista de premios semanales
                            .media
                                .media--body
                                    .media--premios__descripcion
                                        p Oster: Licuadora y hervidor.
                                        a.link(href="#") Ver detalles
                                .media--self-top.media--premios__img
                                    img(src='images/fotografia/licuadora-small.png', alt="")
                            .media
                                .media--body
                                    .media--premios__descripcion
                                        p 1 Chevrolet Tracker 0km.
                                        a.link(href="#") Ver detalles
                                .media--self-top.media--premios__img
                                    img(src='images/fotografia/auto-small.png', alt="")
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar códigos