nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.experiencias
    .notificacion--card
        .container
            .notificacion--card-box
                a.media.media--card(href="#")
                    img.media--icon.media--self-center(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        .descripcion
                            p Estos fueron los ganadores de experiencias
                    .media--symbol.media--self-center
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')
    .experiencias--content
        .container
            .card--vertical
                .sidebar--flex.card--active
                    .card--sidebar.back-ice_blue
                        .card--content__body
                            .titulo ¡Todo esto podría ser tuyo!
                            .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                            img.icono(src="images/svg/icon-gema-active.svg", alt="")
                    a.card--content(href="#")
                        .card--content__body
                            .titulo ¡No te pierdas Avengers!
                            .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                            button.btn.btn--flat.btn--flat-blue(type="button") Más información
                        .card--content__portada
                            img(src="images/fotografia/portada-vertical.jpg", alt="")
                            button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
            .card--vertical
                a.card--content.grey--color(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas Avengers!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/portada-vertical.jpg", alt="")
            .card--vertical
                a.card--content.grey--color(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas Aquaman!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/aquaman.jpg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")