nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡Gracias por #[br] participar!
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo En esta ocasión no ganaste esta experiencia…
        .container
            .descripcion
                p ¡Pero descuida! Aún tenemos muchas experiencias más para que puedas participar.
            .servicio--ganadores
                p.titulo Estos fueron los ganadores
                .descripcion
                    ul
                        li Alex Meza Medina #[br] DNI: 40887788
                        li Rubí Martinez Fernandes #[br] DNI: 43678989
                        li Lucas Molineti Prado #[br] DNI: 43678989
                

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más experiencias
            a.btn.btn--link.txt-minus(href="#") Términos y condiciones