.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.experiencias--listado
    .container
        ul.experiencias--list
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/transformers-square.jpg", alt="")
                    .media--body
                        h2.titulo Estreno de Transformers
                        .descripcion
                            p ¡Prix llevó a 3 afortunados al pre estreno!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/tanta-square.jpg", alt="")
                    .media--body
                        h2.titulo Experiencia en Tanta
                        .descripcion
                            p ¡5 afortunados pudieron participar en esta experiencia gastronónica!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/aquaman-square.jpg", alt="")
                    .media--body
                        h2.titulo Estreno de Aquaman
                        .descripcion
                            p ¡Prix llevó a 2 afortunados al pre estreno!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/canta-square.jpg", alt="")
                    .media--body
                        h2.titulo Viaje a Canta
                        .descripcion
                            p ¡1 afortunada pareja disfruto de inolvidables vacaciones!