nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo Avant Premiere de #[br] Aquaman
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
        .container
            .descripcion
                p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
            .collapse--list
                .collapse--item
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Ver términos y condiciones
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
        .container
            .servicio--ubicacion
                .row.no-gutters
                    .col-12
                        p.titulo Ubicación
                    .col-12
                        span.ubicacion__local Distribuciones Gerónimo: Jr. El Greco 211B
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Participar