nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡No te pierdas el #[br] sorteo!
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .tab
        ul.tab--nav.tab--nav__more
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Concurso
            li.tab--nav__item
                a.tab--item__link(href="!#") Premios
            li.tab--nav__item
                a.tab--item__link(href="!#") Códigos
        .tab--content
            .tab--pane.pane--no-padding.show
                .servicio--detalle__content
                    .container
                        .notificacion--grey Has acumulado: #[b 15 000 intentos para ganar]
                        .servicio--media-box
                            .media.media--box-icons
                                .media--img-icon.media--self-start
                                    img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                                .media--body
                                    p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
                        .descripcion
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et eleifend ornare, mollis eu lacus
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. 
                            p Proin tortor tortor, ultrices et eleifend
                            p: b ¿Qué es lo que tienes que saber?
                            ul
                                li Incluye un Moka Capuccino tamaño mediano.
                                li Válido en todos los locales.
                                li Stock mínimo 500 unidades o hasta agotar stock.
                                li No es acumulable con otras promociones.
                                li Necesitarás 150 Prixes para usar este beneficio.
                        .collapse--list
                            .collapse--item.active
                                a.collapse--action.collapse--title(href="#!")
                                    .titulo Promocard Virtual
                                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                                .collapse--content
                                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
                    .container
                        .servicio--ubicacion
                            .row.no-gutters
                                .col-12
                                    p.titulo Starbucks
                                .col-7
                                    span.ubicacion__local 1 de 128 locales
                                .col-5
                                    span.ubicacion__link.txt--right
                                        a(href="#") Ver más locales
                    .iframe--map.map--sm
                        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar códigos