nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message__video-nocodigo
                p.titulo.txt--center ¿Aún no tienes un código? #[br] Aquí te decimos cómo:
                .nocodigo-box_video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)
                .descripcion
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.
                p.titulo.txt--center ¿Todo listo?
                .message__video--nocodigo_form
                    form.form(action="")
                        .form--group
                            .form--box
                                input.form--control#name(type="text", name="name", required="")
                                label.control--label(for="name") Ingresar código de participación
                                span.bar
                        .btn--float.pos--fixed
                            .container
                                .btn--float-box
                                    button.btn.btn--default(type="submit", disabled) Ingresar códigos