nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message--img__producto
                img(src='images/fotografia/tv-small.png', alt="")
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo ¡Movistar Prix te regala una TV Samsung 55’’!
            .descripcion
                ul
                    li 55” HD Flat TV - Series 4.
                    li Potenciador de color.
                    li Experiencia multimedia (HDMI).
                    li Color negro.
                    li Diseño 360°
                    li ConnectShare Movie - Mira películas desde tu USB

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar códigos