nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.experiencias--videos.mg-50
    .experiencias--videos-content
        .container
            h2.titulo ¡Ellos son los ganadores #[br] de nuestra última experiencia!
            .descripcion
                p Karla Negrete, Santiago Córdova y Makarena Gallegos.
            a.experiencias--card-video(href="#")
                img(src="images/fotografia/avengers-video.jpg", alt="")
                .card--video-caption
                    span.caption-txt Ganadores de entradas para Avengers End Game
                    span.caption-play.icon: svg: use(xlink:href=iconPath+'video-play')
            hr
            h2.titulo Ganadores de #[br] experiencias pasadas
            .experiencias--videos-list
                .videos-col
                    a.experiencias--card-video(href="#")
                        img(src="images/fotografia/wifi-ralph-square.jpg", alt="")
                        .card--video-caption
                            span.caption-txt Ganadores para ver Wifi Ralph.
                            span.caption-play.icon: svg: use(xlink:href=iconPath+'video-play')
                .videos-col
                    a.experiencias--card-video(href="#")
                        img(src="images/fotografia/spiderman-square.jpg", alt="")
                        .card--video-caption
                            span.caption-txt Ganadores para ver Spiderman Homecoming
                            span.caption-play.icon: svg: use(xlink:href=iconPath+'video-play')
                .videos-col
                    a.experiencias--card-video(href="#")
                        img(src="images/fotografia/alien-square.jpg", alt="")
                        .card--video-caption
                            span.caption-txt Ganadores para ver Alien.
                            span.caption-play.icon: svg: use(xlink:href=iconPath+'video-play')
                .videos-col
                    a.experiencias--card-video(href="#")
                        img(src="images/fotografia/ana-square.jpg", alt="")
                        .card--video-caption
                            span.caption-txt Ganadores para ver Anabelle.
                            span.caption-play.icon: svg: use(xlink:href=iconPath+'video-play')
    .experiencias--videos-more
        .container
            a.btn.btn--flat-green(href="#") Ver ganadores de otras experiencias

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

.modal--video
    .modal--content
        .modal--content__head
            a.modal--close(href="!#")
                img(src="images/svg/icon-close.svg", alt="")
        .modal--content__body
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)
.backdrop

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body.no--padding
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)

.backdrop