nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡Gracias por #[br] participar!
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo En esta ocasión no ganaste esta experiencia…
        .container
            .descripcion
                p ¡Pero descuida! Aún tenemos muchas experiencias más para que puedas participar.
            .servicio--ganadores
                p.titulo Estos fueron los ganadores
                .descripcion
                    ul
                        li Alex Meza Medina #[br] DNI: 40887788
                        li Rubí Martinez Fernandes #[br] DNI: 43678989
                        li Lucas Molineti Prado #[br] DNI: 43678989
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver otras experiencias
            a.btn.btn--link.txt-minus(href="#") Términos y condiciones
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-xs
                        h2.titulo.txt--center Términos y Condiciones
                        .descripcion
                            p Es un hecho establecido hace mucho tiempo que un lector se distraerá con el contenido legible de una página al mirar su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de letras, en lugar de usar 'Contenido aquí, contenido aquí', por lo que parece un inglés legible. Muchos paquetes de publicación de escritorio y editores de páginas web
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Entendido
                    button.btn.btn--link Cerrar
.backdrop