nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡Gracias por #[br] participar!
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo ¡Haz ganado 04 entradas para la Avant Premiere de Aquaman!
        .container
            .descripcion
                p ¡Felicidades! Pronto nos comunicaremos contigo. Puedes escribirnos y enviar un mail.
            .servicio--form
                form.form(action="")
                    .form--group
                        input.form--control#correo(type="email", name="correo", value="andr1@gmail.com", required="")
                        label.control--label(for="correo") Correo electrónico
                        span.bar
                    .form--group
                        textarea.form--control(name="comment", rows="2", required="")
                        label.control--label(for="comment") Deja tu comentario
                        span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit") Enviar
                                a.btn.btn--link.txt-minus(href="#") Términos y condiciones