//link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')
//link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')
//link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')
//link(rel='manifest' href="images/favicon/site.webmanifest")
//link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')
//link(rel='shortcut icon' href='images/favicon/favicon.ico')
//meta(name='msapplication-config' content='images/favicon/browserconfig.xml')
//meta(name='msapplication-TileColor' content='#ffffff')
//meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')
//meta(name='theme-color' content='#c8102e')