nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Localización
section.localizacion
    .map
        .map--options
            .container
                .row
                    .col
                        a.btn.btn--link__location(href="") 
                            span Comida y bebida
                            img.icon(src="images/fotografia/arrow-down.png", alt="")
                    .col-auto
                        a.btn.btn--link__location(href="")
                            span 0.5 Km

        .iframe--map
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head
                h2.titulo Elije una categoría
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-sm
                        .modal--list-radio
                            form.form(action="")
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'comida.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Comida y bebida
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'entretenimiento.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Entretenimiento
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'hogar.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Hogar
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'servicio.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Servicios
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'cuidado.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Cuidado personal
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'transporte.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Transporte y viajes
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'vestimenta.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Vestimenta
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'salud.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Salud
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'cerca.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Cerca de mi
.backdrop