nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
section.home
   .hexagonal
        .container
            .hexagonal--grid.hexagonal--grid__panal
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'comida.svg', alt="")
                            p.descripcion Comida y bebidas
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'entretenimiento.svg', alt="")
                            p.descripcion Entreteni-<br>miento
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'hogar.svg', alt="")
                            p.descripcion Hogar
                .hexagonal--item.hexagonal--item__principal 
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            .titulo MI PRIX
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'servicio.svg', alt="")
                            p.descripcion Servicios
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'cuidado.svg', alt="")
                            p.descripcion Cuidado personal
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'salud.svg', alt="")
                            p.descripcion Salud

            .hexagonal--grid.hexagonal--grid__default
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'vestimenta.svg', alt="")
                            p.descripcion vestimenta
                .hexagonal--item.hexagonal--item__principal
                    .hexagonal--item__polygon 
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'tickets-1.svg', alt="")
                            p.descripcion Experiencias y sorteos
                .hexagonal--item
                    .hexagonal--item__polygon
                        .hexagonal--item__content
                            img.icon(src=iconSVG+'transporte.svg', alt="")
                            p.descripcion Transporte y viajes    
        a(href="").btn.btn--link VER TODO

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")
