.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mis vales
.servicio--vales
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") Mis Consumos
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Mi Lista
        .tab--content
            .tab--pane.hide
                
            .tab--pane.show
                .vales--category-title.media
                    img.media--self-center(src=iconSVG+'comida-bebida.svg', alt="")
                    .media--body
                        span.etiq-text Comida y bebida
                .scrolling-card
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/p-mcdonal.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/mcdonald.jpg", alt="")
                                    p.titulo McDonald’s
                                    .descripcion
                                        p Mas grande imposible llévate una big mac y acaba con el hambre
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Big Mac
                                    small.vigencia Vigencia
                                        b 3 días
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/portada-default.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/repsol.jpg", alt="")
                                    p.titulo Repsol
                                    .descripcion
                                        p Mas grande imposible llévate una big mac y acaba con el hambre
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Big Mac
                                    small.vigencia Vigencia
                                        b 3 días

                .vales--category-title.media
                    img.media--self-center(src=iconSVG+'cine-entretenimiento.svg', alt="")
                    .media--body
                        span.etiq-text Entretenimiento
                .scrolling-card
                    .item
                        .card
                            .card--content
                                .card--content__portada
                                    img(src="images/fotografia/p-mcdonal.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/mcdonald.jpg", alt="")
                                    p.titulo McDonald’s
                                    .descripcion
                                        p Mas grande imposible llévate una big mac y acaba con el hambre
                                .card--content__footer
                                    .descripcion
                                        p 20% de descuento
                                            small.text--small Todos los juegos
                                    small.vigencia Vigencia
                                        b 3 días
                    .item
                        .card
                            .card--content
                                .card--content__portada
                                    img(src="images/fotografia/portada-default.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/repsol.jpg", alt="")
                                    p.titulo Repsol
                                    .descripcion
                                        p Mas grande imposible llévate una big mac y acaba con el hambre
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Big Mac
                                    small.vigencia Vigencia
                                        b 3 días

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")