.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mis vales
.servicio--vales
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Mis Consumos
            li.tab--nav__item
                a.tab--item__link(href="!#") Mi Lista
        .tab--content
            .tab--pane.show
                .collapse
                    .collapse--list
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Promocard Virtual
                                .descripcion Mira beneficios con promocard
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
                                .card
                                    .card--content
                                        .card--content__portada
                                            img(src="images/fotografia/portada-default.jpg", alt="")
                                            span.tag Promocard Virtual
                                        .card--content__body
                                            .logo
                                                img(src="images/marcas/repsol.jpg", alt="")
                                            p.titulo Repsol
                                            .descripcion
                                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                                        .card--content__footer
                                            .descripcion
                                                p Hasta 50% de descuento
                                            small.vigencia Vigencia
                                                b 3 días
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales consumidos
                                .descripcion Esto es todo lo que has consumido
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales regalados
                                .descripcion Mira los vales que has regalado
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Mis regalos
                                .descripcion Mira lo que tus amigos te han regalado
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Experiencias
                                .descripcion Has participado en estas experiencias
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
            .tab--pane.hide
                .collapse
                    .collapse--list
                        .collapse--item.active
                            a.collapse--action(href="#!")
                                .titulo Promocard Virtual
                                .descripcion Mira beneficios con promocard
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
                                a.card(href="#")
                                    .card--content
                                        .card--content__portada
                                            img(src="images/fotografia/portada-default.jpg", alt="")
                                            span.tag Promocard Virtual
                                        .card--content__body
                                            .logo
                                                img(src="images/marcas/repsol.jpg", alt="")
                                            p.titulo Repsol
                                            .descripcion
                                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                                        .card--content__footer
                                            .descripcion
                                                p Hasta 50% de descuento
                                            small.vigencia Vigencia
                                                b 3 días
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales consumidos
                                .descripcion Esto es todo lo que has consumido
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")