.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
section.movistar--total__prix
    .container
        .app-prix__media
            .media
                img.img-app__prix.media--self-top(src="images/app/prix.png", alt="")
                .media--body
                    .descripcion
                        p Descarga la experiencia completa #[b Movistar Prix]
        .app-prix__content
            h2.titulo ¡Sorpréndete y vive toda la experiencia!
            .descripcion
                p Disfruta de este programa de agradecimiento con beneficios y sorteos únicos para ti ¡Solo por ser Movistar!
                p ¿Qué esperas? Descarga la aplicación y disfruta de todas las funciones que Movistar Prix tiene para ti.
        .app-prix__buttons
            .row
                .col-6
                    a.btn.btn--flat-apps(href="")
                        img.app-prix__icon(src="images/app/android.png", alt="") 
                        span.app-prix__title Google Play
                .col-6
                    a.btn.btn--flat-apps(href="")
                        img.app-prix__icon(src="images/app/apple.png", alt="") 
                        span.app-prix__title App Store