.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total__beneficio
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") Beneficio
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Sorteos
        .tab--content
            .tab--pane.hide
                
            .tab--pane.show
                .card--vertical
                    .sidebar--flex.card--active
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                .card--vertical
                    .sidebar--flex
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                .card--vertical
                    .sidebar--flex
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                
    .button--send.pos--fixed
        .container
            a(href="").btn.btn--default DESCARGAR EL APP