.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total
    article.container
        h1.titulo ¿Conoces qué es 
            b Movistar Total?
        .movistar-servicio
            .servicio--list
                .servicio--item
                    img.icono(src="images/servicio/internet.png", alt="", height="23px")
                    .descripcion Internet
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/tv.png", alt="",  height="20px")
                    .descripcion TV
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/fijo.png", alt="" height="20px")
                    .descripcion Fijo
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/movil.png", alt="" height="29px")
                    .descripcion Móvil
        p.descripcion Es la unión de tus servicios Móvil, fijo, Internet y TV en un solo combo.
        p.descripcion Solo con Movistar Total tendrás:
        ul.lista--detalle
            li.lista--detalle__item.row.no-gutters        
                .col-3.icono: img(src=iconSVG+'equipo.svg', alt="")
                .col-9.detalle
                    .titulo Equipos
                    .descripcion con cuota inicial S/0 y a precios especiales.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src="images/app/netflix.png", alt="")
                .col-9.detalle
                    .titulo Netflix
                    .descripcion hasta 6 meses gratis.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src=iconSVG+'ahorro.svg', alt="")
                .col-9.detalle
                    .titulo Ahorro
                    .descripcion de hasta S/900 anuales.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src=iconSVG+'acceso.svg', alt="")
                .col-9.detalle
                    .titulo Acceso
                    .descripcion a un mayor número de beneficios en Movistar Prix.
    .button--send.pos--fixed
        .container
            a(href="").btn.btn--default DESCARGAR EL APP