.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total__beneficio
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Beneficio
            li.tab--nav__item
                a.tab--item__link(href="!#") Sorteos
        .tab--content
            .tab--pane.show
                .card
                    .sidebar--flex.card--active
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
                .card
                    .sidebar--flex
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
                .card
                    .sidebar--flex
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
            .tab--pane.hide
                
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Descargar el app
            