.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Perfil
.perfil
    .perfil--header-2
        .container
            .perfil--box
                .perfil--foto
                    img(src="images/fotografia/perfil-foto.png", alt="")
                a(href="#") Cambio foto de perfil
.perfil--form.mg-70
    .container
        .perfil--progress
            ul.perfil--progress-bar.active
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
            .descripcion
                p Te falta llenar #[b 2 datos]. ¡Complétalo para recibir un #[b beneficio!]
        form.form(action="")
            .collapse--list
                .collapse--item.active
                    a.collapse--action(href="#!")
                        .titulo Mi identidad
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        .form--group
                            input.form--control#name(type="text", name="name", value="Luciana", required="")
                            label.control--label(for="name") Nombres
                            span.bar
                        .form--group
                            input.form--control#last(type="text", name="last", required="")
                            label.control--label(for="last") Apellidos
                            span.bar
                        .form--group
                            input.form--control#dni(type="text", name="dni", required="")
                            label.control--label(for="dni") DNI
                            span.bar
                        .form--group
                            input.form--control#email(type="email", name="email", required="")
                            label.control--label(for="email") Email
                            span.bar
                        .form--group
                            input.form--control#birthday(type="text", name="birthday", required="")
                            label.control--label(for="birthday") Cumpleaños
                            span.bar
                .collapse--item.active
                    a.collapse--action(href="#!")
                        .titulo Mi entorno
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        .form--group
                            input.form--control#q1(type="text", name="q1", required="")
                            label.control--label(for="q1") ¿Cuál es tu héroe favorito?
                            span.bar
                        .form--group
                            input.form--control#q2(type="text", name="q2", required="")
                            label.control--label(for="q2") ¿Cuál es el número telefónico de tu casa?
                            span.bar
                        .form--group
                            input.form--control#q3(type="text", name="q3", required="")
                            label.control--label(for="q3") ¿Cuál es tu dirección?
                            span.bar
                        .form--group
                            select.form--control#departamento(name="departamento")
                                option(value="") Selecciona tu Departamento
                                option(value="Ancash") Ancash
                            label.control--label(for="departamento") Departamento
                            span.bar
                        .form--group
                            select.form--control#provincia(name="provincia")
                                option(value="") Selecciona tu Provincia
                                option(value="Ancash") Ancash
                            label.control--label(for="provincia") Provincia
                            span.bar
                        .form--group
                            select.form--control#Distrito(name="Distrito")
                                option(value="") Selecciona tu Distrito
                                option(value="Ancash") Ancash
                            label.control--label(for="Distrito") Distrito
                            span.bar
            .btn--float.pos--fixed
                .container
                    .btn--float-box
                        button.btn.btn--default(type="submit") Actualizar             