.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Perfil
.perfil
    .perfil--header-1
        .container
            .perfil--box
                .media
                    .perfil--foto.media--self-top
                        img(src="images/fotografia/perfil-foto.png", alt="")
                    .media--body
                        .perfil--name
                            h2.titulo Luciana
                            a.badge.badge--flat-blue(href="#") Editar perfil
                        .zona--movistar 
                            span.gema-img
                                img(src=iconSVG+"gema-morada-1.svg", alt="")
                            span.gema-txt ¡Perteneces a Zona Movistar!
                        span.telefono 999 789 678
    .perfil--info
        .container
            ul.collection--list
                li.collection--list-item
                    a.item--link.link--icon(href="#") Mi Zona
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')
                li.collection--list-item
                    a.item--link.link--icon(href="#") Mis Vales
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')