nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
section.servicio--form
    .container
        .servicio--form__content
            h2.titulo Tengo problemas con mi Promocard Virtual
            .descripcion
                p Lo sentimos. Al parecer tenemos un pequeño problema. Escríbenos y a la brevedad estaremos en contacto contigo.
            .servicio--form__box
                form.form(action="")
                    .form--group
                        .form--box
                            input.form--control#email(type="email", name="email", value="usuario@email.com", required="")
                            label.control--label(for="email") Correo
                            span.bar
                    .form--group
                        .form--box
                            textarea.form--control#comentario(name="comentario", rows="2", required)
                            label.control--label(for="comentario") Coméntanos más sobre esto
                            span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit", disabled) Enviar