nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Servicios
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo Repsol
            .box--body
                span.descripcion Quedan: 
                    b 50 beneficios.
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion La Promocard Virtual llegará en un #[br] aproximado de 3 días
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__servicio(src=iconSVG+'servicio.svg', alt="")
                    .media--body
                        p.titulo Descuentos de hasta 50% en estaciones de servicio
            .descripcion
                p ¡Ahora podrás disfrutar de tu descuento más fácil!
                p Presentando tu Promocard Virtual desde tu Smartphone, disfruta de tu promoción gracias a Prix
            .servicio--vigencia
                .row.no-gutters
                    .col-9 
                        span.vigencia__promo 2 x 1
                        span.vigencia__descripcion Promoción válida sólo para Big Mac 
                    .col-3
                        span.vigencia__txt.txt--right Vigencia
                        span.vigencia__dias.txt--right 3 días
            .descripcion
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Incluye un Moka Capuccino tamaño mediano.
                    li Válido en todos los locales.
                    li Stock mínimo 500 unidades o hasta agotar stock.
                    li No es acumulable con otras promociones.
                    li Necesitarás 150 Prixes para usar este beneficio.
            .collapse--list
                .collapse--item.active
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Promocard Virtual
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
        .container
            .servicio--ubicacion
                .row.no-gutters
                    .col-12
                        p.titulo Starbucks
                    .col-7
                        span.ubicacion__local 1 de 128 locales
                    .col-5
                        span.ubicacion__link.txt--right
                            a(href="#") Ver más locales
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Solicítalo