.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--progreso
    .container
        .servicio--progreso__content
            .descripcion
                p Estamos a punto de darte una buena noticia. Falta muy poco para poder entregarte tu Promocard Virtual y puedas disfrutar tu promoción.
            hr
            .descripcion
                p Tus datos fueron ingresados el día 8 de Setiembre.
                    br
                    | Nombre: Renzo Costa
                    br
                    | Placa: WLQ-897    
            .progress
                ul.progress--icon
                    li.progress--item.active
                        img.progress__icon-happy-1(src=iconSVG+"happy-1.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-2-1.svg", alt="")
                        .progress--bar
                        p.descripcion Iniciado
                    li.progress--item
                        img.progress__icon-happy-1(src=iconSVG+"happy-2.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-2-1.svg", alt="")
                        .progress--bar
                        p.descripcion En progreso
                    li.progress--item
                        img.progress__icon-happy-1(src=iconSVG+"happy-3.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-3-1.svg", alt="")
                        .progress--bar
                        p.descripcion Finalizado
            a.btn.btn--link Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más beneficios