nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Servicios
section.servicio
    .servicio--content.container
        .card
            a.card--content(href="#")
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    span.tag
                        span.icon__qr.icon: svg: use(xlink:href=iconPath+'qr') 
                        | Promocard Virtual
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días
        .card
            a.card--content(href="#")
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")