nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
section.servicio--form
    .container
        .servicio--form__content
            .descripcion
                p Llena tus datos correctamente y no dejes pasar esta gran oportunidad.
            .servicio--form__box
                form.form(action="")
                    .form--group
                        .form--box
                            input.form--control#name(type="text", name="name", required="")
                            label.control--label(for="name") Nombres
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#last(type="text", name="last", required="")
                            label.control--label(for="last") Apellidos
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#birthday(type="text", name="birthday", required="")
                            label.control--label(for="birthday") Fecha de Nacimiento
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#gender(name="gender")
                                option(value="Masculino") Masculino
                                option(value="Femenino") Femenino
                            label.control--label(for="gender") Género
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#tipodocumento(name="tipodocumento")
                                option(value="DNI") DNI
                                option(value="Pasaporte") Pasaporte
                            label.control--label(for="tipodocumento") Tipo de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#ndocumento(type="text", name="ndocumento", value="77777777", required="")
                            label.control--label(for="ndocumento") Número de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#placa(type="text", name="placa", value="AAA 111", required="")
                            label.control--label(for="placa") Número de Placa
                            span.bar
                            .tooltip Revisa atentamente si los dígitos de tu placa corresponden a una letra O y/o el número 0
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit", disabled) Registrarme
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+"like-servicio.svg", alt="")
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                h2.titulo ¡Atención!
                .descripcion
                    p Asegurate que tus datos estén correctamente ingresados.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Continuar
                    a.btn.btn--link Verificar datos
.backdrop