nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
section.servicio--form
    .container
        .servicio--form__content
            .descripcion
                p Llena tus datos correctamente y no dejes pasar esta gran oportunidad.
            .servicio--form__box
                form.form(action="")
                    .form--group
                        .form--box
                            input.form--control#name(type="text", name="name", required="")
                            label.control--label(for="name") Nombres
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#last(type="text", name="last", required="")
                            label.control--label(for="last") Apellidos
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#birthday(type="text", name="birthday", required="")
                            label.control--label(for="birthday") Fecha de Nacimiento
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#gender(name="gender")
                                option(value="Masculino") Masculino
                                option(value="Femenino") Femenino
                            label.control--label(for="gender") Género
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#tipodocumento(name="tipodocumento")
                                option(value="DNI") DNI
                                option(value="Pasaporte") Pasaporte
                            label.control--label(for="tipodocumento") Tipo de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#ndocumento(type="text", name="ndocumento", required="")
                            label.control--label(for="ndocumento") Número de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#placa(type="text", name="placa", required="")
                            label.control--label(for="placa") Número de Placa
                            span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit", disabled) Registrarme