nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--message
    .container
        .servicio--message__content
            .message--img
                img(src=iconSVG+'phone.svg', alt="")
            h2.titulo ¡Espera con atención!
            .descripcion
                p Pronto te enviaremos una notificación confirmando tu Promocard Virtual.
            a(href="").btn.btn--link Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más beneficios
