.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--promo
    .container
        .servicio--promo__content
            .descripcion
                p Hola Renzo, ¡Tu Promocard Virtual está esperando por ti! Recuerda que este beneficio se guardará dentro de la sección Mis Vales.
                p Nombre: Renzo Costa
                    br
                    | Placa: WLQ-897 
                .promo--image__qr
                    img(src="images/fotografia/bitmap.png", alt="")
                a.btn.btn--link(href="#") Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box.row
            .btn--float-col.col-left
                a.btn.btn--flat-green(href="#") Descargar PDF
            .btn--float-col.col-right
                a.btn.btn--default(href="#") Enviar por correo