.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mi Zona
section.zona
    .container
        .zona__box
            h2.titulo 
                img.icon(src=iconSVG+'gema-plateada.svg', alt="")
                | ¡Perteneces a la Zona Visitante!
            .descripcion
                p Empieza a disfrutar todos los beneficios que Movistar tiene para ti.
            .box--badge
                a.badge.badge--flat-blue ¿Qué son las Zonas?

    .tab
        ul.tab--nav
            li.tab--nav__item.active
                a.tab--item__link(href="!#") 
                    .icon
                        img(src=iconSVG+'gema-plateada.svg', alt="")
                    span.titulo Visitante
            li.tab--nav__item
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema-morada-1.svg', alt="")
                    span.titulo Movistar
            li.tab--nav__item
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema.svg', alt="")
                    span.titulo M.Total
        .tab--content
            .tab--pane.show
                .zona__tab-text No tienes beneficios disponibles para tu Zona, pero…
                .zona__tab-message
                    h2.titulo ¡Contamos con una #[br] excelente noticia!
                    .descripcion
                        p Tú también puedes ser Movistar Total y disfrutar de los mejores beneficios
                    .gema-zona
                        img(src=iconSVG+'gema-star.svg', alt="")
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Conoce sobre movistar total