nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo Tambo
            .box--body
                span.descripcion Quedan: 
                    b 50 beneficios.
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Este vale lo puedes usar sólo una vez al día.
    .servicio--detalle__content
        .container
            .servicio--friends
                img.img--icon__users(src=iconSVG+'users.svg', alt="")
                span
                    b 14 amigos 
                    | ya han usado este vale.
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__comida(src=iconSVG+'comida.svg', alt="")
                    .media--body
                        p.titulo Moka Capuccino para deleitar de día en cualquier momento.
            .alerta--gema
                .gema--blue
                    img(src=iconSVG+'gema.svg', alt="")
                .gema--txt Exclusivo para la #[b Zona Movistar Total]
        .servicio--recomendar
            .container
                .row.no-gutters
                    .col
                        span.recomendar__titulo ¿Te gustó este beneficio?
                        span.recomendar__descripcion Animate a recomendarlo a un contacto.
                    .col-auto
                        a.badge.badge--flat-blue(href="#") ¡Recomendar!
        .container
            .descripcion
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa 
            .servicio--vigencia
                .row.no-gutters
                    .col-9 
                        span.vigencia__promo 2 x 1
                        span.vigencia__descripcion Whooper
                    .col-3
                        span.vigencia__txt.txt--right Vigencia
                        span.vigencia__dias.txt--right 3 días
            .descripcion
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Incluye un Moka Capuccino tamaño mediano.
                    li Válido en todos los locales.
                    li Stock mínimo 500 unidades o hasta agotar stock.
                    li No es acumulable con otras promociones.
                    li Necesitarás 150 Prixes para usar este beneficio.
            .collapse--list
                .collapse--item.active
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Promocard Virtual
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
        .container
            .servicio--ubicacion
                .row.no-gutters
                    .col-12
                        p.titulo Tambo
                    .col-7
                        span.ubicacion__local 1 de 128 locales
                    .col-5
                        span.ubicacion__link.txt--right
                            a(href="#") Ver más locales
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Quiero ser movistar total