.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mi Zona
section.zona
    .container
        .zona__box
            h2.titulo 
                img.icon(src=iconSVG+'gema.svg', alt="")
                | ¡Perteneces a la Zona Movistar Total!
            .descripcion
                p Disfruta del #[b máximo poder]. Accede a #[b todos] los beneficios, incluyendo las #[b Zonas Visitante y Zona Movistar].
            .box--badge
                a.badge.badge--flat-blue ¿Qué son las Zonas?

    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") 
                    .icon
                        img(src=iconSVG+'gema-plateada.svg', alt="")
                    span.titulo Visitante
            li.tab--nav__item
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema-morada-1.svg', alt="")
                    span.titulo Movistar
            li.tab--nav__item.active
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema.svg', alt="")
                    span.titulo M.Total
        .tab--content
            .tab--pane.show
                .zona__tab-text Estos son los beneficios para #[b tu Zona].
                .card
                    .sidebar--flex.card--active
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
                .card
                    .sidebar--flex
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.