.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo ¿Qué son las Zonas?
section.zona--question
    .zona--question__content
        .container        
            .descripcion
                p Son espacios donde podrás encontrar diferentes beneficios y experiencias. Si perteneces a Movistar Total tendrás acceso ilimitado a todas las Zonas.
                .zona--img__gemas
                    img(src=iconSVG+'gemas.svg', alt="")
                h2.titulo: b ¿Cómo cambiarte a la Zona Movistar Total?
                p Une todos tus servicios Movistar a un solo plan y podrás acceder a esta Zona.
            .movistar-servicio
                .servicio--list
                    .servicio--item
                        img.icono(src="images/servicio/internet.png", alt="", height="23px")
                        .descripcion Internet
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/tv.png", alt="",  height="20px")
                        .descripcion TV
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/fijo.png", alt="" height="20px")
                        .descripcion Fijo
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/movil.png", alt="" height="29px")
                        .descripcion Móvil