.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mi Zona
section.zona
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") 
                    .icon
                        img(src=iconSVG+'gema-plateada.svg', alt="")
                    span.titulo Visitante
            li.tab--nav__item.active
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema-morada-1.svg', alt="")
                    span.titulo Movistar
            li.tab--nav__item
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema.svg', alt="")
                    span.titulo M.Total
        .tab--content
            .tab--pane.show
                .zona__tab-text Estos son los beneficios para #[b tu Zona].
                .card
                    a.card--content(href="#")
                        .card--content__portada
                            img(src="images/fotografia/portada-default.jpg", alt="")
                            span.tag
                                span.icon__qr.icon: svg: use(xlink:href=iconPath+'qr') 
                                | Promocard Virtual
                        .card--content__body
                            .logo
                                img(src="images/marcas/repsol.jpg", alt="")
                            p.titulo Repsol
                            .descripcion
                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                        .card--content__footer
                            .descripcion
                                p Hasta 50% de descuento
                                    span.text--small Canjéalo aquí
                            small.vigencia Vigencia
                                b 3 días
                .card
                    a.card--content(href="#")
                        .card--content__portada
                            img(src="images/fotografia/portada-default.jpg", alt="")
                            .tag--prixes-moneda.notificacion--prixes
                                .notificacion--prixes__box Úsalo con #[b 150 prixes]
                                    img.prixes__icon-moneda(src=iconSVG+"prix-moneda.svg", alt="")
                        .card--content__body
                            .logo
                                img(src="images/marcas/repsol.jpg", alt="")
                            p.titulo Repsol
                            .descripcion
                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                        .card--content__footer
                            .descripcion
                                p Hasta 50% de descuento
                                    span.text--small Canjéalo aquí
                            small.vigencia Vigencia
                                b 3 días
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.