.ayuda {
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
    &--sugerencia{
        margin-top: 15px;
        .titulo{
            color: $dark-2;
            font-weight: normal;
        }
        .descripcion{
            font-size: 16px;            
        }
        .form--group{
            margin-top: 1.6rem;
            margin-bottom: 1.6rem;
        }
    }
    &--box {
        &__collection {
            .collection {
                border-top: 5px solid $very-light-pink-4;
                .collection--item {
                    .titulo {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &--form {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .titulo {
            font-weight: 400;
            color: $dark-2;
            margin-bottom: 1.2rem;
        }
        .descripcion {
            margin-bottom: 1.75rem;
        }
        &__collapse {
            .collapse--list {
                .collapse--item {
                    border-top: 1px solid transparent;
                    .collapse--action {
                        border-bottom: 1px solid $very-light-pink-2;
                    }
                }
            }
        }
    }
}