.buscador {
    &--wrapper {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .titulo {
            font-size: 16px;
            color: $brown-grey;
            padding-bottom: 10px;
            border-bottom: 1px solid $color_border;
        }
    }
    &--list {
        &-item {
            .item-box {
                position: relative;
                padding-top: 12px;
                padding-bottom: 12px;
                padding-right: 24px;
                border-bottom: 1px solid $color_border;
                color: $brown-grey;
                p {
                    margin: 0;
                }
                .icon {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    font-size: 12px;
                    transform: rotate(45deg);
                    color: $brown-grey;
                }
            }
        }
    }
    &--view {
        &.pos--fixed {
            width: 100%;
            background-color: $white;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &-all {
            position: relative;
            display: block;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-right: 24px;
            border-top: 1px solid $color_border;
            color: $brown-grey;
            text-decoration: none;
            .icon {
                position: absolute;
                top: 20px;
                right: 0;
                font-size: 12px;
                transform: rotate(180deg);
                color: $brown-grey;
            }
        }
    }
    &--tabs {
        position: relative;
        margin-top: 0px;
        padding-bottom: .5rem;
    }
    &--cards {
        position: relative;
        .item {
            margin-bottom: 20px;
        }
    }
}