.codigos {
    &--detalle {
        position: relative;
        margin: 0 0 15px 0;
        &.mg{
            &-70{
                margin-bottom: 70px;
            }
            &-100{
                margin-bottom: 100px;
            }
            &-120{
                margin-bottom: 120px;
            }
        }
        &__content{
            margin: 20px 0 0;
            .container {
                > .descripcion {
                    margin-bottom: 1rem;
                }
            }
            .vigencia {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #d8d8d8;
                .descripcion{
                    font-size: 14px;
                    line-height: normal;
                    margin: 0;
                }
                b.descripcion{
                    font-weight: bold;
                    display: block;
                }
            }
        }
        hr{
            margin: 8px 0;
        }
    }
    &--form {
        position: relative;
        margin-bottom: 20px;
        &.mg-70 {
            margin-bottom: 70px;
        }
        &-content {
            padding-top: 24px;
            > .titulo {
                color: $dark;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            > .descripcion {
                color: $grey-color-1;
            }
            > .form {
                margin-top: 3rem;
            }
        }
    }
    &--felicidades {
        .codigos {
            &--wrapper {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            &--card {
                width: 100%;
                max-width: 225px;
                margin: auto;
                display: block;
                &-box {
                    margin-top: 20px;
                    text-align: center;
                    > .titulo {
                        font-size: 24px;
                        color: $dark-2;
                        margin-bottom: .3rem;
                    }
                }
                .card--content__body {
                    .logo {
                        width: 36px;
                        height: 36px;
                        margin-top: -13px;
                    }
                    .titulo {
                        font-size: 10px;
                    }
                    .descripcion {
                        font-size: 12px;
                    }
                }
                .card--content__footer {
                    .descripcion {
                        p {
                            font-size: 12px;
                        }
                        .text--small {
                            font-size: 9px;
                        }
                    }
                    .vigencia {
                        font-size: 9px;
                        b {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}