.descentralizado{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__content {
        .titulo {
            font-size: 16px;
            font-weight: 400;
            color: $dark-2;
            margin-bottom: 1.75rem;
        }
        .descripcion {
            margin-bottom: 1.75rem;
        }
    }
}