.experiencias {
    position: relative;
    margin-bottom: 20px;    
    &--content {
        padding-top: .6rem;
    }
    &--listado {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &--list {
        .list--item {
            padding-top: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid $very-light-pink-2;
            .media {
                margin-bottom: 0;
                text-decoration: none;
                .media--image {
                    margin-right: 15px;
                    img {
                        width: 100px;
                    }
                }
                .media--body {
                    .titulo {
                        color: $dark-2;
                        font-size: 16px;
                        margin-bottom: .3rem;
                    }
                    .descripcion {
                        font-size: 14px;
                        color: $grey-color-1;
                        > p {
                            font-size: 14px;
                            margin-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }
    &--card-video {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        border-radius: 4px;
        text-decoration: none;
        margin-bottom: .8rem;
        .card--video-caption {
            position: absolute;
            bottom: 0;
            background-color: $dark;
            font-size: 12px;
            width: 100%;
            display: block;
            color: $white;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 8px;
            padding-right: 28px;
            line-height: 1.2;
            .caption-txt {
                display: block;
                display: -webkit-box;
                max-width: 100%;
                max-height: 30px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .caption-play {
                position: absolute;
                font-size: 16px;
                top: 50%;
                right: 8px;
                transform: translate(0, -50%);
            }
        }
    }
    &--videos {
        position: relative;
        margin-top: 15px;
        .titulo {
            text-align: center;
            font-weight: 400;
            color: $dark-2;
            margin-bottom: .7rem;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin-right: -7px;
            margin-left: -7px;
            .videos-col {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 7px;
                padding-left: 7px;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &-more {
            border-top: 1px solid $very-light-pink-2;
            padding-top: 7px;
            padding-bottom: 7px;
            .btn {
                text-transform: uppercase;
                font-size: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}