.home{
        background: #f6f6f6;
        margin: 0;
        height: calc(100vh - 40px);
        padding: 20px 0;
        .container{
                padding-left: 40px;
                padding-right: 40px;
        }
        .hexagonal--grid__default{
                margin-top: -15px;
        }
}
        