.localizacion{
    position: relative;
    .map{
        &--options{
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            .btn--link__location{
                margin-bottom: 6px;
                &.distancia{
                    border-color:#b8b8b8;
                    background: #f8f8f8;
                    &.active{
                        border-color: $azure;
                        background: $white;
                    }
                }
            }
        }
        &--place{
            position:fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: $white;
            .scrolling-card{
                .item{
                    margin: 5px;
                    .card{
                        margin: 0;
                    }
                    &+.item{
                        margin-left: 0;
                    }
                }
            }
        }
        .iframe--map {
            iframe {
                display: block;
                width: 100%;
                height: calc(100vh - 78px);
            }
        }
    }
    .modal{
        &--content{
            &__head{
                margin: 0;
            }
            &__body{
                .form{
                    &--group{
                        height: calc(100vh - 290px);
                        overflow: auto;
                        margin-bottom: 0;
                        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), #fff);
                    }
                    &--radio{
                        margin: 0;
                        border-bottom: 1px solid #757575;
                        label{
                            padding-top: 18.5px;
                            padding-bottom: 18.5px;
                            padding-left: 36px;
                            .icon{
                                height: 20px;
                                position: absolute;
                                left: 0;
                            }
                            .radio--checked{
                                left: inherit;
                                right: 25px;
                                top: 50%;
                                transform: translate(0, -15px);
                            }
                        }
                        &:last-child{
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        
    }
}