.movistar--total{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .container{
        > .titulo{
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 30px;
            font-weight: normal;
            color: $dark-2;
            b{
                display: block;
                font-size: 18px;
                line-height: 22px;
                font-weight: bold;
            }
        }
        .movistar-servicio{
            margin-bottom: 25px;
        }
        > .descripcion{
            text-align: center;
        }
    }
    .button--send{
        left: 0;
        right: 0;
        bottom: 0;
        height: 55px;
        line-height: 50px;
        background-color: #fff;
        border-top: 1px solid #d8d8d8;
    }
    &__beneficio{
        position: relative;
        margin-top: 0;
    }
    &__prix{
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .app-prix {
            &__media {
                position: relative;
                padding-top: .5rem;
                padding-bottom: .5rem;
                border-bottom: 1px solid $very-light-pink-2;
                margin-bottom: 1.2rem;
                .img-app__prix {
                    display: block;
                    width: 100%;
                    max-width: 75px;
                    margin-right: .75rem;
                }
                .descripcion {
                    b {
                        color: $dark-2;
                    }
                }
            }
            &__content {
                .titulo {
                    color: $dark-2;
                    margin-bottom: 1.2rem;
                }
            }
            &__buttons {
                .btn {
                    padding-top: .75rem;
                    padding-bottom: .75rem;
                    text-align: left;
                }
                .app-prix {
                    &__icon {
                        display: block;
                        width: 20px;
                        margin-bottom: .5rem;
                    }
                    &__title {
                        display: block;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}