.perfil {
    &--header-1 {
        position: relative;
        border-bottom: 1px solid $very-light-pink;
        .perfil--box {
            padding-top: 20px;
            padding-bottom: 12px;
            .media {
                margin-bottom: 0;
                .perfil--foto {
                    margin-right: 12px;
                    img {
                        width: 45px;
                    }
                }
                &--body {
                    .perfil--name {
                        position: relative;
                        padding-right: 90px;
                        margin-bottom: .4rem;
                        .titulo {
                            font-size: 16px;
                            color: $dark;
                            margin-bottom: .1rem;
                        }
                        .badge {
                            font-weight: 400;
                            padding: .3em 1em;
                            position: absolute;
                            top: -1px;
                            right: 0;
                        }
                    }
                    .zona--movistar {
                        font-size: 14px;
                        color: $dark;
                        display: block;
                        margin-bottom: .2rem;
                        .gema-img {
                            float: left;
                            margin-right: 3px;
                            img {
                                width: 15px;
                            }
                        }
                        .gema-txt {
                            display: block;
                            overflow: hidden;
                        }
                    }
                    .telefono {
                        display: block;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &--header-2 {
        position: relative;
        border-bottom: 1px solid $very-light-pink;
        background-color: $grey-color-3;
        .perfil--box {
            padding-top: 7px;
            padding-bottom: 5px;
            text-align: center;
            font-size: 14px;
            .perfil--foto {
                width: 43px;
                margin: auto;
                margin-bottom: .1rem;
            }
            a {
                text-decoration: none;
            }
        }
    }
    &--form {
        position: relative;
        margin: 0 0 23px;
        &.mg-70{
            margin-bottom: 70px;
        }
        .collapse--list {
            .collapse--item {
                .collapse--action {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
        .collapse--content {
            padding-top: 0;
        }
    }
    &--progress {
        position: relative;
        padding-top: 1rem;
        &-bar {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid $very-light-pink;
            border-radius: 6px;
            margin-bottom: 0.5rem;
            .progress--item {
                flex: 1 1 auto;
                &:last-child .progress--bar {
                    &:before {
                        width: 0;
                    }
                }
                .progress--bar {
                    width: 100%;
                    height: 8px;
                    position: relative;
                    &:before {
                        content: '';
                        width: 1px;
                        height: 8px;
                        background: $white;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                &.bar--red {
                    .progress--bar {
                        background: $red-pink;
                    }
                }
            }
            &.active {
                .progress--item {
                    .progress--bar {
                        background: $azure;
                    }
                }
            }
        }
        .descripcion {
            > p {
                font-size: 14px;
            }
        }
    }
    &--perfil {
        position: relative;
    }
}