.servicio {
    position: relative;
    &--content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &--detalle {
        position: relative;
        &__content {
            position: relative;
            padding-top: 15px;
            padding-bottom: 15px;
            .servicio {
                &--media {
                    &-box {
                        .media--box-icons {
                            .media--img-icon {
                                .img--icon {
                                    &__servicio {
                                        width: 33px;
                                    }
                                    &__comida {
                                        width: 30px;
                                    }
                                    &__tickets-1 {
                                        width: 42px;
                                    }
                                }
                            }
                        }
                    }
                }
                &--friends{
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid $very-light-pink;
                    margin-bottom: 1rem;
                    .img--icon {
                        &__users {
                            display: inline-block;
                            vertical-align: middle;
                            width: 27px;
                            margin-top: -2px;
                            margin-right: 6px;
                        }
                    }
                }
                &--zona {
                    background: #e3f7fe;
                    padding: 0 0 0 63px;
                    position: relative;
                    .icon{
                        position: absolute;
                        height: 26px;
                        left: 34px;
                        bottom: -4px;
                    }
                    .descripcion{
                        font-size: 12px;
                        color: $dark-2;
                    }
                }
                &--recomendar {
                    position: relative;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: $grey-color-3;
                    margin-bottom: .75rem;
                    .recomendar {
                        &__titulo {
                            display: block;
                            font-size: 14px;
                            color: $dark-2;
                            margin-bottom: 0;
                            font-weight: 700;
                        }
                        &__descripcion {
                            display: block;
                            font-size: 12px;
                            line-height: 1.2;
                            letter-spacing: -0.3px;
                        }
                    }
                }
                &--vigencia {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $very-light-pink;
                    font-size: 14px;
                    margin-bottom: 1rem;
                    .vigencia {
                        &__promo , &__dias{
                            display: block;
                            font-weight: 700;
                            line-height: 1.3;
                        }
                        &__descripcion, &__txt {
                            display: block;
                            font-weight: 400;
                            line-height: 1.3;
                        }
                    }
                }
                &--ubicacion {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: 1px solid $very-light-pink;
                    .titulo {
                        color: $dark-2;
                        font-weight: 700;
                        margin-bottom: .2rem;
                        font-size: 16px;
                    }
                    .ubicacion {
                        &__local {
                            display: block;
                            font-weight: 400;
                            font-size: 16px;
                        }
                        &__link {
                            display: block;
                            font-size: 14px;
                        }
                    }
                }
                &--ganadores {
                    position: relative;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: 1px solid $very-light-pink;
                    .titulo {
                        font-weight: 400;
                        color: $dark-2;
                    }
                }
                &--form {
                    position: relative;
                    margin-top: 1.75rem;
                }
                &--premios {
                    &-media {
                        border-top: 1px solid $very-light-pink;
                        padding-top: 1.4rem;
                        padding-bottom: 1.4rem;
                        .titulo {
                            font-size: 16px;
                        }
                        .media {
                            padding-top: .75rem;
                            padding-bottom: .75rem;
                            &--premios {
                                &__descripcion {
                                    p {
                                        margin-bottom: 0;
                                    }
                                    .link {
                                        font-size: 14px;
                                    }
                                }
                                &__img {
                                    width: 100%;
                                    max-width: 90px;
                                    img {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                &__message {
                    &-nocodigo {
                        .titulo {
                            font-weight: 400;
                            color: $dark-2;
                        }
                        .nocodigo-img__tickets {
                            width: 100%;
                            max-width: 150px;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    &--form {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__content {
            .titulo {
                font-weight: 400;
                color: $dark-2;
            }
            .servicio {
                &--form__box {
                    position: relative;
                    margin-top: 1.75rem;
                }
            }
        }
    }
    &--message {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__content {
            .message {
                &--img {
                    img {
                        display: block;
                        margin-top: 2rem;
                        margin-bottom: 2.4rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &__producto {
                        width: 100%;
                        max-width: 160px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1rem;
                        margin-bottom: 1.5rem;
                    }
                }
                &__video {
                    &-nocodigo {
                        .titulo {
                            margin-bottom: 1.5rem;
                        }
                        .nocodigo-box_video {
                            position: relative;
                            overflow: hidden;
                            border-radius: 5px;
                            margin-top: .75rem;
                            margin-bottom: 1rem;
                        }
                        .add-more__code {
                            .more-link {
                                text-decoration: none;
                                .icon__more-add {
                                    display: inline-block;
                                    margin-right: .3rem;
                                    width: 20px;
                                    margin-top: -2px;
                                }
                                .add__txt {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            .titulo{
                font-weight: normal;
                color: $dark-2;
            }
            .descripcion {
                margin-bottom: 2rem;
            }
            .servicio--media-box {
                .media--box-icons {
                    .media--img-icon {
                        .img--icon__tickets-1 {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
    &--progreso {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__content {
            .progress{
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;
                &--icon{
                    display: flex;
                    flex-wrap: wrap;                
                }
                &--item{
                    max-width: 33.33%;
                    flex-basis: 0;
                    flex: 0 33.33%;
                    text-align: center;
                    position: relative;
                    .progress__icon {
                        &-happy-1 {
                            display: none;
                            width: 33px;
                            height: 33px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: .75rem;
                        }
                        &-happy-2 {
                            display: block;
                            width: 33px;
                            height: 33px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: .75rem;
                        }
                    }
                    .descripcion{
                        font-size: 14px;
                        line-height: 18px;
                        margin: 5px 0 0;
                        color: #a8aaa8;
                    }
                    &:nth-child(1){
                        .progress--bar{
                            border-radius: 6px 0 0 6px;
                            &:before{
                                content: '';
                                width: 2px;
                                height: 12px;
                                background: #e8e9e8;
                                position:absolute;
                                right: 0;
                                top: -2px;
                            }
                        }
                    }
                    &:nth-child(2){
                        .progress--bar{
                            &:before{
                                content: '';
                                width: 2px;
                                height: 12px;
                                background: #e8e9e8;
                                position:absolute;
                                right: 0;
                                top: -2px;
                            }
                        }
                    }
                    &:last-child{
                        .progress--bar{
                            border-radius: 0 6px 6px 0;
                        }
                    }
                    &.active{
                        .progress__icon-happy-1 {
                            display: block;
                        }
                        .progress__icon-happy-2 {
                            display: none;
                        }
                        .icon{
                            color: $azure;
                        }
                        .progress--bar{
                            background: $azure;
                            &:before{
                                background: $azure;
                            }
                        }
                        .descripcion{
                            color: $dark-2;
                        }
                    }
                }
                &--bar{
                    width: 100%;
                    height: 8px;
                    background: #e8e9e8;
                    position: relative;
                    
                }
                
            }
            .question {
                &-text {
                    text-align: center;
                    font-size: 14px;
                    color: $grey-color-1;
                    margin-top: 12px;
                    margin-bottom: 12px;
                    > a {
                        color: $grey-color-1;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &--promo {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        &__content {
            .promo--image {
                &__qr {
                    display: block;
                    width: 100%;
                    max-width: 131px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    margin-left: auto;
                    margin-right: auto;
                    img {
                        display: block;
                        margin: auto;
                    }
                }
            }
            &-qr {
                display: block;
                width: 131px;
                height: 131px;
                margin: 50px auto;
                img {
                    display: block;
                    width: 131px;
                    height: 131px;
                }
            }
        }
    }
    &--panel {
        &-codigo {
            text-align: center;
            padding-top: 1rem;
            .titulo {
                color: $dark-2;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 1.2rem;
            }
            .box--codigo {
                position: relative;
                border: 1px solid $brown-grey_secondary;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                font-weight: 700;
                font-size: 22px;
                color: $dark-2;
                border-radius: 4px;
                margin-bottom: 2rem;
            }
        }
        &-codigo-2 {
            padding-top: 20px;
            .box--codigo {
                position: relative;
                border: 1px solid $brown-grey_secondary;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                color: $dark-2;
                border-radius: 4px;
                margin-bottom: 2rem;
                .codigo-txt {
                    font-weight: 700;
                    font-size: 22px;
                    text-align: center;
                    display: block;
                }
                .codigo-link {
                    font-size: 14px;
                    text-align: center;
                    > a {
                        + a {
                            margin-left: 2rem;
                        }
                    }
                }
            }
            .message--media {
                display: flex;
                margin-bottom: 1rem;
                &-col {
                    flex: 1 1 auto;
                }
                .message--txt {
                    color: $dark;
                    line-height: 1.3;
                    margin-bottom: 0;
                }
            }
        }
        &-qr {
            padding-top: 10px;
            .descripcion {
                text-align: center;
            }
            .box--qr {
                position: relative;
                border: 1px solid $brown-grey_secondary;
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                text-align: center;
                font-weight: 700;
                color: $dark-2;
                border-radius: 4px;
                margin-bottom: 1.5rem;
                .qr--image {
                    width: 100%;
                    max-width: 84px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                .qr--txt {
                    display: block;
                    font-size: 12px;
                    font-weight: 700;
                    margin-top: 5px;
                    line-height: 1.2;   
                }
            }
            .message--media {
                display: flex;
                margin-bottom: 1rem;
                &-col {
                    flex: 1 1 auto;
                }
                .message--txt {
                    color: $dark;
                    line-height: 1.3;
                    margin-bottom: 0;
                }
            }
        }
    }
    &--mejorar {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &-form {
            position: relative;
            .titulo {
                font-weight: 400;
                font-size: 16px;
                color: $dark-2;
                margin-bottom: 1rem;
            }
            .form--rating {
                margin-top: 1.8rem;
            }
            .mejorar--link-promo {
                text-align: center;
                font-size: 14px;
                margin-bottom: 1rem;
            }
            .mejorar--form-list {
                .titulo {
                    border-bottom: 1px solid $very-light-pink;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    margin-bottom: 0;
                    font-weight: 400;
                    color: $dark-2;
                    font-size: 16px;
                }
                .form--list-check {
                    padding-top: 17px;
                    padding-bottom: 17px;
                    border-bottom: 1px solid $very-light-pink;
                    .form--checkbox {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}