.vales {
    &--category {
        &-title {
            width: 100%;
            border-radius: 4px;
            background-color: #f5f5f5;
            padding: 5px 8px;
            margin-bottom: 10px;
            img {
                margin-right: 6px;
            }
        }
    }
    &--content {
        margin-top: 70px;
        .vales {
            &--image {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                width: 100%;
                max-width: 156px;
            }
            &--button {
                margin-top: 90px;
            }
        }
        .descripcion {
            color: $dark;
            text-align: center;
        }
    }
}