.welcome {
    position: relative;
    .icon {
        width: 100%;
        margin: 28px 0;
        img{
            display: block;
            margin: auto;
        }
    }
    .titulo {
        text-align: center;
        color: $dark;
    }
    .descripcion {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 150px;
    }
    .btn {
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}