.zona {
    position: relative;
    &__box {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        > .titulo{
            font-size: 18px;
            line-height: 25px;
            font-weight: normal;
            color: $dark-2;
            position: relative;
            padding-left: 30px;
            .icon{
                height: 20px;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
        > .descripcion {
            p {
                margin-bottom: .5rem;
            }
        }
        .box--badge {
            text-align: right;
            .badge{
                font-weight: normal;
            }
        }
    }
    .tab{        
        &--nav{
            background: rgba(0, 169, 224, 0.2);
            border-bottom: 8px solid $white;
            justify-content: center;
            &__item{
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;
                padding: 0 23px;
                &.active{
                    background: url(../../images/svg/icon-zona.svg);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    flex: 0 0 122px;
                    margin: 0 -23px;
                    padding: 0;
                    .tab--item__link{
                        .icon{
                            opacity: 1;
                            img{
                                height: 36px;
                                margin-left: -5px;
                            } 
                        }
                        .titulo{
                            display: block;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -18px;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: center;
                            color: $dark-2
                        }
                    }
                }
            }
        }
        &--item{
            &__link{
                box-shadow: inherit !important;
                line-height: 0;
                padding: 12px 0;                
                position: relative;
                >.icon{
                    height: 36px;
                    width: 36px;
                    background: $white;
                    padding: 0;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 2;
                    opacity: .8;
                    img{
                        height: 26px;
                        width: auto;
                        display: inline-block;
                    }
                }
                span{
                    display: none;
                }
            }
        }
        &--pane{
            padding: 10px 5px;
            .zona__tab {
                &-message {
                    margin-top: 1.75rem;
                    .titulo {
                        text-align: center;
                        color: $dark-2;
                    }
                    .descripcion {
                        text-align: center;
                    }
                    .gema-zona {
                        width: 100%;
                        max-width: 78px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: .75rem;
                        margin-bottom: .75rem;
                    }
                }
                &-text {
                    font-size: 12px;
                    text-align: center;
                    margin-top: .5rem;
                    margin-bottom: .75rem;
                    b {
                        color: $dark-2;
                    }
                }
            }
        }
    }
    &--question {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        &__content {
            .titulo {
                color: $dark-2;
            }
            .zona--img__gemas{
                display: block;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                > img {
                    display: block;
                    width: 100%;
                    max-width: 188px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .movistar-servicio {
                margin-top: 1.5rem;
            }
        }
    }
}