// Fonts
@font-face {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 200;
    src: local('Telefonica Extra Light'),
         url('../fonts/Telefonica/Telefonica-ExtraLight.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-ExtraLight.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 300;
    src: local('Telefonica Light'),
         url('../fonts/Telefonica/Telefonica-Light.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-Light.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 400;
    src: local('Telefonica Regular'),
         url('../fonts/Telefonica/Telefonica-Regular.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-Regular.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Telefonica';
    font-style: italic;
    font-weight: 400;
    src: local('Telefonica Italic'),
         url('../fonts/Telefonica/Telefonica-RegularItalic.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-RegularItalic.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-RegularItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 700;
    src: local('Telefonica Bold'),
         url('../fonts/Telefonica/Telefonica-Bold.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-Bold.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Telefonica Hand';
    font-style: normal;
    font-weight: 400;
    src: local('Telefonica Hand'),
         url('../fonts/Telefonica/Telefonica-Hand.woff2') format('woff2'), 
         url('../fonts/Telefonica/Telefonica-Hand.woff') format('woff'),
         url('../fonts/Telefonica/Telefonica-Hand.ttf') format('truetype');
}