// Fonts
$font:                    'Telefonica';
$font_secundary:          'Telefonica Hand';

// Colors - Movistar
$dark:                          #2a2a3c;
$dark-2:                        #3e3e3e;
$azure:                         #00a9e0;
$azure-2:                       #57c5e9;
$azure-3:                       #3ad5f1;
$azure-4:                       #e3f7fe;
$azure-5:                       #b2e5f5;
$purple:                        #954b97;
$brownish-grey:                 #5a5a5a;
$very-light-pink:               #dddddd;
$very-light-pink-2:             #d0d0d0;
$very-light-pink-3:             #d5d5d5;
$very-light-pink-4:             #eeeeee;
$kermit-green:                  #5bc500;
$green-1:                       #336e00;
$ice-blue:                      #e9feff;
$brown-grey_secondary:          #eeeeee;
$brown-grey:                    #999999;
$white:                         #ffffff;
$white-grey-1:                  #d5d5d5;
$color_border:                  #b4b4b4;
$grey-color-1:                  #757575;
$grey-color-2:                  #cccccc;
$grey-color-3:                  #fcfcfc;
$white-1:                       #f7f7f7;
$red-pink:                      #ff6173;
$orange-1:                      #f59c1d;

// Messures

// Breakpoints
$mobile-portrait:                0;
$mobile-lanscape:                576px;
$tablet-portrait:                768px;
$tablet-lanscape:                992px;
$desktop:                        1200px;
$desktop-lg:                     1400px;

$mp:                             $mobile-portrait;
$ml:                             $mobile-lanscape;
$tp:                             $tablet-portrait;
$tl:                             $tablet-lanscape;
$d:                              $desktop;
$lg:                             $desktop-lg;

// Container
$container-mobile:               540px;
$container-tablet-portrait:      975px;
$container-tablet-lanscape:      1182px;
$container-desktop:              1170px;

$max-sm:                         $container-mobile;
$max-md:                         $container-tablet-portrait;
$max-lg:                         $container-tablet-lanscape;
$max-xl:                         $container-desktop;