.container
    .row
        .col-md-4
            p.extralight Hola Mundo!!
        .col-md-4
            p.light Hola Mundo!!
        .col-md-4
            p.regular Hola Mundo!!
        .col-md-4
            p.bold Hola Mundo!!
        .col-md-4
            p.hand Hola Mundo!!
.container
    .row
        .col-12
            h1.titulo Título
            h2.subtitulo Sub-título
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis eos sit quasi repellat voluptatibus nulla et, magnam eaque esse architecto? Nesciunt doloremque inventore quam aspernatur, vero voluptatibus exercitationem voluptatem.
            button.btn Button
            button.btn.btn--default Button
            button.btn.btn--blue Button
            button.btn.btn--flat-green Button
            button.btn.btn--flat-blue Button
            button.btn.btn--flat-apps Button
            button.btn.btn--link Button
        .col-12
            span.badge ¿Qué son las Zonas?
            span.badge.badge--flat-green ¿Qué son las Zonas?
            span.badge.badge--flat-blue ¿Qué son las Zonas?
            span.badge.badge--green ¿Qué son las Zonas?
            span.badge.badge--blue ¿Qué son las Zonas?
            span.badge.badge--purple ¿Qué son las Zonas?