section
    .container
        .card
            .card--content
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    span.tag
                        span.icon__qr.icon: svg: use(xlink:href=iconPath+'qr') 
                        | Promocard Virtual
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días

        .card
            .card--content
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    .tag--prixes-moneda.notificacion--prixes
                        .notificacion--prixes__box Úsalo con #[b 150 prixes]
                            img.prixes__icon-moneda(src=iconSVG+"prix-moneda.svg", alt="")
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer.back-ice_blue
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días
        .card
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        a.icon-swipe(href="#"): img(src="images/svg/icon-gema-swipe.svg", alt="")
                    .card--content__body
                        .logo
                            img(src="images/marcas/repsol.jpg", alt="")
                        p.titulo Repsol
                        .descripcion
                            p Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card--vertical
            .card--content
                .card--content__body
                    .titulo ¡No te pierdas Avengers!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    a(href="#").btn.btn--flat.btn--flat-blue Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")

        .card--vertical
            .card--content.grey--color
                .card--content__body
                    .titulo ¡No te pierdas Avengers!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    a(href="#").btn.btn--flat.btn--flat-blue Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")
                    
        .card--vertical
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__body
                        .titulo ¡No te pierdas Avengers!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        a(href="#").btn.btn--flat.btn--flat-blue Más información
                    .card--content__portada
                        img(src="images/fotografia/portada-vertical.jpg", alt="")
                        a.icon-swipe(href="#"): img(src="images/svg/icon-gema-swipe.svg", alt="")
        
        .card
            .sidebar--flex.card--active
                .card--sidebar.back-ice_blue 
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                a.card--content(href="#")
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                    .card--content__body
                        img.logo(src="images/fotografia/repsol.jpg", alt="")
                        .titulo Repsol
                        .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card
            .sidebar--flex
                .card--sidebar.back-ice_blue 
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                    .card--content__body
                        img.logo(src="images/fotografia/repsol.jpg", alt="")
                        .titulo Repsol
                        .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card--vertical
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                a.card--content(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas Avengers!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/portada-vertical.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
        .card--vertical
            a.card--content.grey--color(href="#")
                .card--content__body
                    .titulo ¡No te pierdas Wifi Ralph!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    button.btn.btn--flat.btn--flat-blue(type="button") Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")