.container
    ul.collection
        li.collection--item Item #1
        li.collection--item Item #1

    ul.collection--list
        li.collection--list-item
            a.item--link.link--icon(href="#") Item #1
                span.icon: svg: use(xlink:href=iconPath+'right-arrow')
        li.collection--list-item
            a.item--link.link--icon(href="#") Item #1
                span.icon: svg: use(xlink:href=iconPath+'right-arrow')