.collection
    .collection--list        
        a.collection--item(href="#!")
            .detalle
                p.titulo ¿Qué es Movistar Prix?
            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        a.collection--item(href="#!")
            .detalle
                p.titulo ¿Qué son las Zonas?
            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        a.collection--item(href="#!")
            .detalle
                p.titulo ¿En qué Zona estoy?
            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        a.collection--item(href="#!")
            .detalle
                p.titulo ¿Cómo subir a Zona Movistar Total?
            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        a.collection--item(href="#!")
            .detalle
                p.titulo Más preguntas frecuentes
            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
