section.collapse
    .collapse--list
        .collapse--item
            a.collapse--action(href="#!")
                .titulo Promocard Virtual
                .descripcion Mira beneficios con promocard
                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
            .collapse--content(style="display:none")

        .collapse--item
            a.collapse--action(href="#!")
                .titulo Promocard Virtual
                .descripcion Mira beneficios con promocard
                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
            .collapse--content(style="display:none")

        .collapse--item
            a.collapse--action(href="#!")
                .titulo Promocard Virtual
                .descripcion Mira beneficios con promocard
                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
            .collapse--content(style="display:none")

        .collapse--item
            a.collapse--action(href="#!")
                .titulo Promocard Virtual
                .descripcion Mira beneficios con promocard
                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
            .collapse--content(style="display:none")

        .collapse--item
            a.collapse--action(href="#!")
                .titulo Promocard Virtual
                .descripcion Mira beneficios con promocard
                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
            .collapse--content(style="display:none")
