.container
    .row
        .col-md-12
            form.form(action="")
                .form--group
                    .form--box
                        input.form--control#name(type="text", name="name", required="")
                        label.control--label(for="name") Nombres
                        span.bar
                .form--group
                    .form--box
                        input.form--control#last(type="text", name="last", required="")
                        label.control--label(for="last") Apellidos
                        span.bar
                .form--group.invalid
                    .form--box
                        input.form--control#email(type="email", name="email", required="")
                        label.control--label(for="email") Email
                        span.bar
                    span.form--error Correo inexistente.
                        span.form--error-txt Verificar nuevamente.
                .form--group
                    .form--box
                        input.form--control#birthday(type="text", name="birthday", required="")
                        label.control--label(for="birthday") Fecha de Nacimiento
                        span.bar
                .form--group
                    .form--box
                        select.form--control#gender(name="gender")
                            option(value="Masculino") Masculino
                            option(value="Femenino") Femenino
                        label.control--label(for="gender") Género
                        span.bar
                .form--group
                    .form--box
                        select.form--control#gender(name="gender")
                            option(value="DNI") DNI
                            option(value="Pasaporte") Pasaporte
                        label.control--label(for="gender") Tipo de documento
                        span.bar
                .form--group
                    .form--radio
                        label
                            input.radio--input(type="radio", name="radio", checked="checked")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio
                        label
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio.radio-right
                        label
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio.radio-img.radio-right
                        label
                            img.radio-img-icon(src=iconSVG+'vestimenta.svg', alt="")
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | Comida y bebida
                .form--group
                    .form--checkbox
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | I'm the label from a radio button
                    .form--checkbox
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | I'm the label from a radio button
                    .form--checkbox.checkbox-right
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | Servicio
                .form--group
                    textarea.form--control(name="comment", rows="4", required="")
                    label.control--label(for="comment") Comentario
                    span.bar
                .form--group
                    .form--rating
                        .rating-box
                            input.rating--input#star5(type="radio", value="2",name="rating")
                            label.rating--stars(for="star5")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star4(type="radio", value="2",name="rating")
                            label.rating--stars(for="star4")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star3(type="radio", value="2",name="rating")
                            label.rating--stars(for="star3")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star2(type="radio", value="2",name="rating")
                            label.rating--stars(for="star2")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star1(type="radio", value="1",name="rating")
                            label.rating--stars(for="star1")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
