ul.lista--detalle
    li.lista--detalle__item.row.no-gutters        
        .col-3.icono: img(src=iconSVG+'equipo.svg', alt="")
        .col-9.detalle
            .titulo Equipos
            .descripcion con cuota inicial S/0 y a precios especiales.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src="images/app/netflix.png", alt="")
        .col-9.detalle
            .titulo Netflix
            .descripcion hasta 6 meses gratis.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src=iconSVG+'ahorro.svg', alt="")
        .col-9.detalle
            .titulo Ahorro
            .descripcion de hasta S/900 anuales.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src=iconSVG+'acceso.svg', alt="")
        .col-9.detalle
            .titulo Acceso
            .descripcion a un mayor número de beneficios en Movistar Prix.