.container
    .media
        img.media--self-top(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
    .media
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
        img.media--self-top(src=iconSVG+'comida-bebida.svg', alt="")
    .media
        img.media--self-center(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
    .media
        img.media--self-end(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.

    a.media.media--card(href="#")
        img.media--icon.media--self-center(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
        .media--symbol.media--self-center
            span.icon: svg: use(xlink:href=iconPath+'right-arrow')