//.modal
    .modal--content
        .modal--content__head
            img.modal--icon(src="images/svg/icon-beneficio.svg", alt="")
            a.modal--close(href="!#")
                img(src="images/svg/icon-close.svg", alt="")
        .modal--content__body
            h2.titulo ¿Muchas gracias Luisa! Nos ayudas a mejorar
            .descripcion
                p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
        .modal--content__footer
            button.btn.btn--default Ir a la Home
            a.btn.btn--link Probar en otra ocasión
.modal
    .modal--dialog.modal--xs.modal--center-icons
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src="images/svg/icon-beneficio.svg", alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-xs
                        h2.titulo ¿Muchas gracias Luisa! Nos ayudas a mejorar
                        .descripcion
                            p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
                            p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Ir a la Home
                    a.btn.btn--link Probar en otra ocasión
.backdrop
//- style(type="text/css").