.movistar-servicio
    .servicio--list
        .servicio--item
            img.icono(src="images/servicio/internet.png", alt="", height="23px")
            .descripcion Internet
        span.icon: svg: use(xlink:href=iconPath+'plus')
        .servicio--item
            img.icono(src="images/servicio/tv.png", alt="",  height="20px")
            .descripcion TV
        span.icon: svg: use(xlink:href=iconPath+'plus')
        .servicio--item
            img.icono(src="images/servicio/fijo.png", alt="" height="20px")
            .descripcion Fijo
        span.icon: svg: use(xlink:href=iconPath+'plus')
        .servicio--item
            img.icono(src="images/servicio/movil.png", alt="" height="29px")
            .descripcion Móvil