.portada
    .portada--background
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--content
        .container
            .portada--content__head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                .titulo Repsol
            .portada--content__footer
                p.descripcion Quedan: 
                    b 50 beneficios.
                img.icono(src=iconSVG+'corazon.svg', alt="")
hr
.portada
    .portada--image
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--box.container
        .box--head
            img.logo(src="images/fotografia/repsol-detalle.png", alt="")
            h2.titulo Introduce tus #[br] códigos
        .box--body
            span.descripcion Quedan: 
                b 50 beneficios.
        button.btn.btn--heart
            img.img-heart(src=iconSVG+"heart-1.svg", alt="")
            img.img-like(src=iconSVG+"heart-red.svg", alt="")
hr
.portada
    .portada--image
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--box.container
        .box--head
            img.logo(src="images/fotografia/repsol-detalle.png", alt="")
            h2.titulo Introduce tus #[br] códigos
        .box--body
            span.descripcion Quedan: 
                b 50 beneficios.
        button.btn.btn--heart.favorite
            img.img-heart(src=iconSVG+"heart-1.svg", alt="")
            img.img-like(src=iconSVG+"heart-red.svg", alt="")