.container
    table.table
        thead
            tr
                th Item #1
                th Item #2
                th Item #3
                th Item #4
        tbody
            tr
                td Lorem
                td Lorem
                td Lorem
                td Lorem
        
    table.table.table--bordered
        thead
            tr
                th Item #1
                th Item #2
                th Item #3
                th Item #4
        tbody
            tr
                td Lorem
                td Lorem
                td Lorem
                td Lorem
    .table--borde
        table.table
            thead.thead--azure
                tr
                    th Item #1
                    th Item #2
                    th Item #3
                    th Item #4
            tbody
                tr
                    td Lorem
                    td Lorem
                    td Lorem
                    td Lorem
                tr
                    td Lorem
                    td Lorem
                    td Lorem
                    td Lorem