section.tab
    ul.tab--nav
        li.tab--nav__item
            a.tab--item__link.active(href="!#") Beneficio
        li.tab--nav__item
            a.tab--item__link(href="!#") Sorteos
    .tab--content
        .tab--pane.show Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.