.form {
    /*label {
        display: inline-block;
        margin-bottom: .2rem;
    }*/
    &--group {
        position: relative;
        margin-top: .75rem;
        margin-bottom: 1.2rem;
        .control--label {
            position: absolute;
            top: 3px;
            left: -1px;
            font-size: 16px;
            pointer-events: none;
            padding-left: 0.125rem;
            z-index: 1;
            color: $brown-grey;
            font-weight: normal;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
        }
        .form--box {
            position: relative;
        }

        .bar {
            &::before {
                content: '';
                height: 2px;
                width: 0;
                left: 50%;
                bottom: -0.0625rem;
                position: absolute;
                background: $azure;
                -webkit-transition: left 0.28s ease, width 0.28s ease;
                transition: left 0.28s ease, width 0.28s ease;
                z-index: 2;
            }
        }

        input,
        textarea {
            &.form--control {
                color: transparent;
                transition: all 0.28s ease;
            }
        }

        select,
        input:focus,
        input:valid,
        input.form--file,
        input.has--value,
        textarea:focus,
        textarea:valid,
        textarea.form--file,
        textarea.has--value {
            color: $dark-2;
        }

        select ~ .control--label,
        input:focus ~ .control--label,
        input:valid ~ .control--label,
        input.form--file ~ .control--label,
        input.has--value ~ .control--label,
        textarea:focus ~ .control--label,
        textarea:valid ~ .control--label,
        textarea.form--file ~ .control--label,
        textarea.has--value ~ .control--label {
            font-size: 12px;
            top: -.85rem;
            left: 0;
        }
        
        select:focus, input:focus, textarea:focus {
            &~ .control--label {
                color: $azure;
            }
            &~ .bar {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
        }

        &.valid {
            .form--control {
                border-bottom: 1px solid $green-1;
            }
            .form--correct {
                font-size: 12px;
                color: $green-1;
                &-txt {
                    color: $grey-color-1;
                }
                .icon__green-check {
                    font-size: 9px;
                    margin-right: .2rem;
                }
            }
        }

        &.invalid {
            .control--label {
                color: $red-pink;
            }
            .form--control {
                border-bottom: 1px solid $red-pink;
            }
            .form--error {
                font-size: 12px;
                color: $red-pink;
                &-txt {
                    color: $grey-color-1;
                }
            }
        }
        .cancel--input {
            position: absolute;
            top: 8px;
            right: 0px;
            font-size: 12px;
            width: 20px;
            height: 20px;
            line-height: 24px;
            text-align: center;
        }
    }
    &--control {
        display: block;
        width: 100%;
        height: 30px;
        font-size: 16px;
        padding: 2px 0px;
        line-height: 1.42857143;
        color: $dark;
        background-color: $white;
        background-image: none;
        border: 1px solid transparent;
        border-bottom: 1px solid $very-light-pink;
        border-radius: 0px;
        box-shadow: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        &:focus {
            outline: 0;
            z-index: 3;
            box-shadow: none;
        }
    }
    textarea {
        &.form--control{
            height: auto;
            resize: none;
        }
    }
    &--radio {
        position: relative;
        line-height: 1.3;
        margin-bottom: 1rem;
        label {
            position: relative;
            cursor: pointer;
            padding-left: 2rem;
            text-align: left;
            color: $grey-color-1;
            display: block;
            .radio {
                &--input {
                    width: auto;
                    opacity: 0.00000001;
                    position: absolute;
                    left: 0;
                    &:checked ~ .radio--checked::before {
                        color: $kermit-green;
                    }
                    &:checked ~ .radio--checked::after {
                        -webkit-transform: scale(0.5);
                        transform: scale(0.5);
                    }
                }
                &--checked {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0,-50%);
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: block;
                    font-size: 1rem;
                    user-select: none;
                    color: $grey-color-2;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 20px;
                        height: 20px;
                        transition: -webkit-transform 0.28s ease;
                        transition: transform 0.28s ease;
                        transition: transform 0.28s ease, -webkit-transform 0.28s ease;
                        border-radius: 50%;
                        border: 1px solid currentColor;
                    }
                    &::after {
                        transform: scale(0);
                        background-color: $kermit-green;
                        border-color: $kermit-green;
                    }
                }
            }
        }
        &.radio {
            &-img {
                &.radio-right {
                    label {
                        padding-left: 2.1rem;
                    }
                }
                .radio-img-icon {
                    position: absolute;
                    width: 24px;
                    top: 50%;
                    left: 0;
                    transform: translate(0,-50%);
                }
            }
            &-right {
                label {
                    padding-left: 0;
                    padding-right: 2rem;
                }
                .radio--checked {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    &--checkbox {
        position: relative;
        margin-bottom: .5rem;
        label {
            position: relative;
            cursor: pointer;
            padding-left: 2rem;
            text-align: left;
            color: $grey-color-1;
            display: block;
        }
        .checkbox {
            &--input {
                width: auto;
                opacity: 0.00000001;
                position: absolute;
                left: 0;
                &:checked {
                    & ~ .checkbox--checked {
                        color: $kermit-green;
                    }
                    & ~ .checkbox--checked::after,
                    & ~ .checkbox--checked::before {
                        opacity: 1;
                        transition: height 0.28s ease;
                    }
                    & ~ .checkbox--checked::before {
                        height: .7rem;
                        transition-delay: 0.28s;
                    }
                    & ~ .checkbox--checked::after {
                        height: 0.3rem;
                    }
                }
            }
            &--checked {
                color: $grey-color-2;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                width: 20px;
                height: 20px;
                z-index: 0;
                border: 2px solid currentColor;
                border-radius: 50%;
                transition: border-color 0.28s ease;
                &::before, &::after {
                    position: absolute;
                    height: 0;
                    width: 0.1rem;
                    background-color: $kermit-green;
                    display: block;
                    transform-origin: left top;
                    border-radius: 0.25rem;
                    content: '';
                    transition: opacity 0.28s ease, height 0s linear 0.28s;
                    opacity: 0;
                }
                &::before {
                    top: .82rem;
                    left: 0.38rem;
                    transform: rotate(-135deg);
                    box-shadow: 0 0 0 0.0625rem $white;
                }
                &::after {
                    top: .55rem;
                    left: .15rem;
                    transform: rotate(-45deg);
                }
            }
        }
        &.checkbox-right {
            label {
                padding-left: 0;
                padding-right: 2rem;
            }
            .checkbox--checked {
                left: auto;
                right: 0;
            }
        }
    }
    &--rating {
        position: relative;
        margin-bottom: .5rem;
        .rating-box {
            width: 100%;
            max-width: 190px;
            height: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            .rating--input {
                display: none;
                &:checked ~ .rating--stars {
                    .star-disable {
                        display: none;
                    }
                    .star-active {
                        display: block;
                    }
                }
            }
            .rating--stars {
                float: right;
                margin-left: 10px;
                display: block;
                width: 30px;
                height: 30px;
                &:last-child {
                    margin-left: 0;
                }
                .star-active {
                    display: none;
                    width: 30px;
                    height: 30px;
                }
                .star-disable {
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}