// General
* {
    -webkit-font-smoothing: antialiased;
    /* No bold in Mac. */
    box-sizing: border-box;
    font-weight: normal;
    &::before, &::after{
        box-sizing: border-box;
    }
    /*&:focus {
        outline: 2px solid $azure;
    }*/
}

html, body{
    height: 100%;
}

body {
    font-family: $font;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-color-1;
    .no--padding {
        padding: 0;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
a {
    word-wrap: break-word;
    color: $azure;
    -webkit-tap-highlight-color: transparent;
    &:hover{
        text-decoration: none;
    }
}

input {
    border: none;
}

button, input, optgroup, select, textarea {
    font-family: $font;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

hr {
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border: 0;
    border-top: 1px solid #eee;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.icon {
    display: inline-block;
    line-height: 0.8;
    
    > svg {
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
}

.icons {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.back-ice_blue{
    background: $ice-blue !important;
}
.pos--fixed {
    position: fixed;
    width: 100%;
    z-index: 5;
}
.txt-uppercase {
    text-transform: uppercase;
}

.iframe--map {
    iframe {
        width: 100%;
    }
    &.map--sm {
        iframe {
            height: 200px;
        }
    }
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  
    &::before {
        display: block;
        content: "";
    }
  
    .embed-responsive-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    ::before {
        display: block;
        content: "";
    }
    &-16by9 {
        &::before {
            padding-top: 56.25%;
        }
    }
}
figure {
    margin: 0;
}

.site {
    &--wrapper {
        &.mg {
            &--70 {
                margin-bottom: 70px;
            }
        }
    }
}