extends ../templates/main-template

block title
    -var project = {name: brand, section: 'Inicio'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
block content
    include ../includes/zonas-14